@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700i|Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700i|Roboto:400,700");
/* line 5, ../../../app/assets/styles/scss/_global.scss */
.container {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 11, ../../../app/assets/styles/scss/_global.scss */
.tooltip-inner {
  background-color: #fadd01;
  color: #000;
  font-size: 1.4rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  border-radius: 0;
}

/* line 20, ../../../app/assets/styles/scss/_global.scss */
.tooltip.left .tooltip-arrow {
  border-left-color: #fadd01;
}

/* line 24, ../../../app/assets/styles/scss/_global.scss */
.white {
  color: #fff;
}

/* line 28, ../../../app/assets/styles/scss/_global.scss */
.black {
  color: #000;
}

/* line 32, ../../../app/assets/styles/scss/_global.scss */
.bright-yellow-color {
  color: #fadd01;
}

/* line 36, ../../../app/assets/styles/scss/_global.scss */
.extrabold {
  font-weight: 900;
}

/* line 40, ../../../app/assets/styles/scss/_global.scss */
.bold {
  font-weight: 700;
}

/* line 44, ../../../app/assets/styles/scss/_global.scss */
.semi-bold {
  font-weight: 500;
}

/* line 48, ../../../app/assets/styles/scss/_global.scss */
.strike {
  text-decoration: line-through;
  color: #999;
}

/* line 53, ../../../app/assets/styles/scss/_global.scss */
.no-strike {
  text-decoration: none;
}

/* line 57, ../../../app/assets/styles/scss/_global.scss */
.accent-font {
  font-family: "Roboto Condensed", sans-serif;
}

/* line 61, ../../../app/assets/styles/scss/_global.scss */
.text-shadow {
  text-shadow: 3px 3px 15px #000;
}

/* line 65, ../../../app/assets/styles/scss/_global.scss */
.drop-shadow {
  box-shadow: 5px 5px 10px #555;
}

/* line 69, ../../../app/assets/styles/scss/_global.scss */
.pad-bot-70 {
  padding-bottom: 70px;
}

/* line 74, ../../../app/assets/styles/scss/_global.scss */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 80, ../../../app/assets/styles/scss/_global.scss */
.flex-center-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* line 86, ../../../app/assets/styles/scss/_global.scss */
.table-center {
  margin: 0 auto;
  display: table;
}

/* line 92, ../../../app/assets/styles/scss/_global.scss */
.flex-direction, #section-five .container {
  flex-direction: column;
}

/* line 98, ../../../app/assets/styles/scss/_global.scss */
.flex-direction-row {
  flex-direction: row;
}

/* line 104, ../../../app/assets/styles/scss/_global.scss */
.flex-align-items, .flex-default, .btn1, .btn2, #section-one .top-nav, #section-one .top-nav .navlink, #section-one .top-nav .language-bar, #section-one .top-nav .language-bar .dropdown-menu li, #section-two .before-start, #section-five .container {
  align-items: center;
}

/* line 110, ../../../app/assets/styles/scss/_global.scss */
.flex-justify, #section-two .flex-container2 {
  justify-content: flex-start;
}

/* line 116, ../../../app/assets/styles/scss/_global.scss */
.flex-justify-center, .flex-default, .btn1, .btn2, #section-one .top-nav, #section-one .top-nav .navlink, #section-one .top-nav .language-bar, #section-one .top-nav .language-bar .dropdown-menu li, #section-two .before-start, #section-five .container {
  justify-content: center;
}

/* line 122, ../../../app/assets/styles/scss/_global.scss */
.flex-justify-between {
  justify-content: space-between;
}

/* line 128, ../../../app/assets/styles/scss/_global.scss */
.flex-flow-wrap, #section-two .flex-container2 {
  flex-flow: row wrap;
}

/* line 135, ../../../app/assets/styles/scss/_global.scss */
.flex-container, .flex-default, .btn1, .btn2, #section-one .top-nav, #section-one .top-nav .navlink, #section-one .top-nav .language-bar, #section-one .top-nav .language-bar .dropdown-menu li, #section-two .before-start, #section-two .flex-container2, #section-five .container {
  display: flex;
}

/* line 141, ../../../app/assets/styles/scss/_global.scss */
.flex-item {
  align-items: center;
}

/* line 147, ../../../app/assets/styles/scss/_global.scss */
.flex-item-left {
  align-items: flex-start;
}

/* line 152, ../../../app/assets/styles/scss/_global.scss */
.flex-item-right {
  align-items: flex-end;
}

/* line 164, ../../../app/assets/styles/scss/_global.scss */
.container {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 170, ../../../app/assets/styles/scss/_global.scss */
.btn1 {
  width: 160px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 183, ../../../app/assets/styles/scss/_global.scss */
.btn1 span:first-child {
  font-size: 2rem;
  vertical-align: middle;
  line-height: 0;
  padding-right: 10px;
}
/* line 189, ../../../app/assets/styles/scss/_global.scss */
.btn1 span:last-child {
  font-size: 1.3rem;
}
/* line 194, ../../../app/assets/styles/scss/_global.scss */
.btn1:hover, .btn1:focus {
  background-color: #f6a623;
  border-color: #f6a623;
  color: #fff;
}

/* line 201, ../../../app/assets/styles/scss/_global.scss */
.btn2 {
  width: 210px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 20px;
  margin: 0 auto;
  font-size: 12px;
  background-color: #29B06D;
}
/* line 210, ../../../app/assets/styles/scss/_global.scss */
.btn2 span {
  font-size: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 5px;
}
/* line 217, ../../../app/assets/styles/scss/_global.scss */
.btn2:hover, .btn2:focus {
  background-color: #FDBB01;
  color: #fff;
}

/* line 223, ../../../app/assets/styles/scss/_global.scss */
.color1 {
  color: #FDBB01;
}

/* line 227, ../../../app/assets/styles/scss/_global.scss */
.arrow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  background-size: cover;
}

/* line 236, ../../../app/assets/styles/scss/_global.scss */
.invisible {
  display: none;
}

/* line 238, ../../../app/assets/styles/scss/_global.scss */
.visible {
  display: block;
}

/* line 240, ../../../app/assets/styles/scss/_global.scss */
.text-bold {
  font-weight: bold;
}

@font-face {
  font-family: 'Glyphter';
  src: url("fonts/Glyphter.eot");
  src: url("fonts/Glyphter.eot?#iefix") format("embedded-opentype"), url("fonts/Glyphter.woff") format("woff"), url("fonts/Glyphter.ttf") format("truetype"), url("fonts/Glyphter.svg#Glyphter") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../../../app/assets/styles/scss/_fonts.scss */
[class*='icon-']:before {
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 21, ../../../app/assets/styles/scss/_fonts.scss */
.icon-locked:before {
  content: '\0041';
}

/* line 22, ../../../app/assets/styles/scss/_fonts.scss */
.icon-blackshot:before {
  content: '\0042';
}

/* line 23, ../../../app/assets/styles/scss/_fonts.scss */
.icon-calendar:before {
  content: '\0043';
}

/* line 24, ../../../app/assets/styles/scss/_fonts.scss */
.icon-aim:before {
  content: '\0044';
}

/* line 25, ../../../app/assets/styles/scss/_fonts.scss */
.icon-arrow-right:before {
  content: '\0045';
}

/* line 26, ../../../app/assets/styles/scss/_fonts.scss */
.icon-arrow-left:before {
  content: '\0046';
}

/* line 27, ../../../app/assets/styles/scss/_fonts.scss */
.icon-new-page:before {
  content: '\0047';
}

/* line 28, ../../../app/assets/styles/scss/_fonts.scss */
.icon-snow:before {
  content: '\0048';
}

/* line 29, ../../../app/assets/styles/scss/_fonts.scss */
.icon-dot:before {
  content: '\0049';
}

/* line 30, ../../../app/assets/styles/scss/_fonts.scss */
.icon-clock:before {
  content: '\004a';
}

/* line 31, ../../../app/assets/styles/scss/_fonts.scss */
.icon-skull:before {
  content: '\004b';
}

/* line 32, ../../../app/assets/styles/scss/_fonts.scss */
.icon-completed:before {
  content: '\004c';
}

/* line 33, ../../../app/assets/styles/scss/_fonts.scss */
.icon-fail:before {
  content: '\004d';
}

/* line 34, ../../../app/assets/styles/scss/_fonts.scss */
.icon-logout:before {
  content: '\004f';
}

/* line 35, ../../../app/assets/styles/scss/_fonts.scss */
.icon-papaya:before {
  content: '\0050';
}

/* line 36, ../../../app/assets/styles/scss/_fonts.scss */
.icon-hashtag:before {
  content: '\0052';
}

/* line 37, ../../../app/assets/styles/scss/_fonts.scss */
.icon-stats:before {
  content: '\0053';
}

/* line 38, ../../../app/assets/styles/scss/_fonts.scss */
.icon-arrowlong:before {
  content: '\0054';
}

/* line 39, ../../../app/assets/styles/scss/_fonts.scss */
.icon-phoenix:before {
  content: '\0055';
}

/* line 40, ../../../app/assets/styles/scss/_fonts.scss */
.icon-show-more:before {
  content: '\0057';
}

/* line 41, ../../../app/assets/styles/scss/_fonts.scss */
.icon-show-less:before {
  content: '\0058';
}

/* line 42, ../../../app/assets/styles/scss/_fonts.scss */
.icon-meme:before {
  content: '\006d';
}

/* line 43, ../../../app/assets/styles/scss/_fonts.scss */
.icon-180view:before {
  content: '\0070';
}

/* line 44, ../../../app/assets/styles/scss/_fonts.scss */
.icon-return:before {
  content: '\0072';
}

/* line 45, ../../../app/assets/styles/scss/_fonts.scss */
.icon-time:before {
  content: '\0074';
}

/* line 46, ../../../app/assets/styles/scss/_fonts.scss */
.icon-close:before {
  content: '\0078';
}

/* line 47, ../../../app/assets/styles/scss/_fonts.scss */
.icon-morebsc:before {
  content: '\0024';
}

/* line 48, ../../../app/assets/styles/scss/_fonts.scss */
.icon-plus:before {
  content: '\002b';
}

/* line 49, ../../../app/assets/styles/scss/_fonts.scss */
.icon-check:before {
  content: '\005e';
}

/* line 50, ../../../app/assets/styles/scss/_fonts.scss */
.icon-arrow1:before {
  content: '\007b';
}

/* line 51, ../../../app/assets/styles/scss/_fonts.scss */
.icon-arrow2:before {
  content: '\007d';
}

/* line 52, ../../../app/assets/styles/scss/_fonts.scss */
.icon-attention:before {
  content: '\007e';
}

/* line 7, ../../../app/assets/styles/main.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* line 12, ../../../app/assets/styles/main.scss */
html {
  font-size: 10px;
}

/* line 16, ../../../app/assets/styles/main.scss */
body {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  min-width: 960px;
  max-width: 1920px;
  font-size: 15px;
}

/* line 27, ../../../app/assets/styles/main.scss */
h1, #section-two .after-start small, h2, h3, h4, h5, #section-two .login-wrapper ul li .user-id, #section-two .after-start .daynum, #section-two .after-start .prize, h6 {
  margin: 0;
}

/* line 31, ../../../app/assets/styles/main.scss */
h1, #section-two .after-start small {
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 2px;
}

/* line 40, ../../../app/assets/styles/main.scss */
h2 {
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-size: 60px;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
}

/* line 50, ../../../app/assets/styles/main.scss */
p, a, #section-two .login-wrapper ul li .welcome {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 1.3;
  font-weight: 300;
}

/* line 58, ../../../app/assets/styles/main.scss */
h3 {
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  color: #f6a623;
  font-style: italic;
  font-weight: bold;
}

/* line 68, ../../../app/assets/styles/main.scss */
h4 {
  color: #3b3d40;
  font-size: 1.1rem;
  line-height: 1.5;
}

/* line 74, ../../../app/assets/styles/main.scss */
h5, #section-two .login-wrapper ul li .user-id, #section-two .after-start .daynum, #section-two .after-start .prize {
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}

/* line 83, ../../../app/assets/styles/main.scss */
a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
/* line 88, ../../../app/assets/styles/main.scss */
a:hover, a:focus {
  text-decoration: none;
  color: #f6a623;
}

/* line 94, ../../../app/assets/styles/main.scss */
ul {
  list-style: none;
  padding: 0;
}

/* line 101, ../../../app/assets/styles/main.scss */
#side-nav {
  position: fixed;
  top: 35%;
  right: 40px;
  z-index: 9999;
}
/* line 107, ../../../app/assets/styles/main.scss */
#side-nav .home {
  width: 20px;
  height: 20px;
  display: block;
  margin-bottom: 10px;
  color: #fff;
  font-size: 2.7rem;
  text-shadow: 2px 2px 3px #000;
}
/* line 117, ../../../app/assets/styles/main.scss */
#side-nav .bullet {
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #fff;
  box-shadow: 2px 2px 3px #000;
}
/* line 125, ../../../app/assets/styles/main.scss */
#side-nav .bullet:hover {
  background-color: #fadd01;
}

/* line 131, ../../../app/assets/styles/main.scss */
#section-one, #section-two, #section-three, #section-four, #section-five {
  background-color: #000;
}

/* line 136, ../../../app/assets/styles/main.scss */
#section-two .container, #section-three .container {
  padding: 90px 0;
}

/* line 141, ../../../app/assets/styles/main.scss */
#section-one {
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}
/* line 145, ../../../app/assets/styles/main.scss */
#section-one .container {
  position: relative;
}
/* line 149, ../../../app/assets/styles/main.scss */
#section-one .top-nav {
  justify-content: space-between;
  height: 170px;
  font-size: 0.9em;
}
/* line 155, ../../../app/assets/styles/main.scss */
#section-one .top-nav .navlink, #section-one .top-nav .language-bar {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 160, ../../../app/assets/styles/main.scss */
#section-one .top-nav .navlink a, #section-one .top-nav .language-bar a {
  font-size: 1.4rem;
}
/* line 162, ../../../app/assets/styles/main.scss */
#section-one .top-nav .navlink a:hover, #section-one .top-nav .navlink a:focus, #section-one .top-nav .language-bar a:hover, #section-one .top-nav .language-bar a:focus {
  color: #f6a623;
}
/* line 168, ../../../app/assets/styles/main.scss */
#section-one .top-nav .navlink {
  width: 170px;
}
/* line 173, ../../../app/assets/styles/main.scss */
#section-one .top-nav .language-bar .dropdown {
  width: 160px;
  padding-left: 30px;
}
/* line 177, ../../../app/assets/styles/main.scss */
#section-one .top-nav .language-bar .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0;
  padding-left: 17px;
  top: 28px;
}
/* line 183, ../../../app/assets/styles/main.scss */
#section-one .top-nav .language-bar .dropdown-menu li {
  text-transform: capitalize;
  font-size: 1.4rem;
  color: #fff;
  padding: 5px 0;
  transition: all 0.3s;
  cursor: pointer;
}
/* line 192, ../../../app/assets/styles/main.scss */
#section-one .top-nav .language-bar .dropdown-menu li span:first-child {
  width: 20%;
  text-align: right;
}
/* line 196, ../../../app/assets/styles/main.scss */
#section-one .top-nav .language-bar .dropdown-menu li span:last-child {
  width: 80%;
  padding-left: 10px;
}
/* line 201, ../../../app/assets/styles/main.scss */
#section-one .top-nav .language-bar .dropdown-menu li:hover, #section-one .top-nav .language-bar .dropdown-menu li:focus {
  background-color: #f6a623;
}
/* line 208, ../../../app/assets/styles/main.scss */
#section-one .event-logo-wrap {
  width: 600px;
  padding-top: 250px;
  padding-bottom: 80px;
}

/* line 215, ../../../app/assets/styles/main.scss */
#section-two {
  background-size: 100% 60%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
/* line 220, ../../../app/assets/styles/main.scss */
#section-two .top-texts {
  text-align: center;
}
/* line 222, ../../../app/assets/styles/main.scss */
#section-two .top-texts .loc-margin {
  padding-bottom: 5px;
}
/* line 225, ../../../app/assets/styles/main.scss */
#section-two .top-texts .loc-margin2 {
  padding-bottom: 5px;
}
/* line 229, ../../../app/assets/styles/main.scss */
#section-two .top-texts2 {
  margin-top: 20px;
  width: 560px;
  text-align: center;
}
/* line 233, ../../../app/assets/styles/main.scss */
#section-two .top-texts2 .text-bold {
  margin-top: 15px;
  margin-bottom: 30px;
}
/* line 239, ../../../app/assets/styles/main.scss */
#section-two .login-mission-wrap {
  margin-top: 100px;
  margin-bottom: 100px;
}
/* line 243, ../../../app/assets/styles/main.scss */
#section-two .flex-container2 {
  margin-top: 50px;
  width: 940px;
  padding: 0;
  list-style: none;
}
/* line 253, ../../../app/assets/styles/main.scss */
#section-two .flex-item1 {
  width: 458px;
  height: 242px;
  background: rgba(38, 38, 38, 0.5);
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  color: white;
  text-align: center;
}
/* line 263, ../../../app/assets/styles/main.scss */
#section-two .flex-item1 ul {
  width: 300px;
}
/* line 265, ../../../app/assets/styles/main.scss */
#section-two .flex-item1 ul li {
  padding: 5px;
}
/* line 271, ../../../app/assets/styles/main.scss */
#section-two .login-wrapper ul {
  width: 458px;
  height: 242px;
}
/* line 274, ../../../app/assets/styles/main.scss */
#section-two .login-wrapper ul li {
  padding: 5px;
  text-align: left;
}
/* line 287, ../../../app/assets/styles/main.scss */
#section-two .flex-item2 {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 225px;
  height: 242px;
}
/* line 295, ../../../app/assets/styles/main.scss */
#section-two .attention-text {
  padding-top: 20px;
  width: 500px;
  text-align: center;
  margin: 0px auto;
}
/* line 301, ../../../app/assets/styles/main.scss */
#section-two .server-time {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
  animation-name: colorFlash;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-transform: uppercase;
}
/* line 311, ../../../app/assets/styles/main.scss */
#section-two .server-time i {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 2.8rem;
  margin-right: 10px;
  vertical-align: -22%;
}
/* line 320, ../../../app/assets/styles/main.scss */
#section-two .locked, #section-two .ongoing, #section-two .cleared, #section-two .failed {
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 325, ../../../app/assets/styles/main.scss */
#section-two .locked {
  background-image: url(http://blackshot.s3.amazonaws.com/static/event/cs73/assets/images/sec1-weapon-gate-closed.jpg);
}
/* line 329, ../../../app/assets/styles/main.scss */
#section-two .ongoing {
  background-image: url(http://blackshot.s3.amazonaws.com/static/event/cs73/assets/images/sec1-bg-open.png);
}
/* line 331, ../../../app/assets/styles/main.scss */
#section-two .ongoing .daynum {
  color: #0090C4;
}
/* line 336, ../../../app/assets/styles/main.scss */
#section-two .cleared {
  background-image: url(http://blackshot.s3.amazonaws.com/static/event/cs73/assets/images/sec1-bg-completed.png);
}
/* line 338, ../../../app/assets/styles/main.scss */
#section-two .cleared .daynum {
  color: #5EB400;
}
/* line 342, ../../../app/assets/styles/main.scss */
#section-two .failed {
  background-image: url(http://blackshot.s3.amazonaws.com/static/event/cs73/assets/images/sec1-bg-fail.png);
}
/* line 344, ../../../app/assets/styles/main.scss */
#section-two .failed .daynum {
  color: #C4051C;
}
/* line 348, ../../../app/assets/styles/main.scss */
#section-two .failed .event-img-wrap img {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
/* line 355, ../../../app/assets/styles/main.scss */
#section-two .before-start, #section-two .after-start {
  width: inherit;
  height: inherit;
}
/* line 360, ../../../app/assets/styles/main.scss */
#section-two .before-start {
  flex-direction: column;
  border-radius: 5px;
}
/* line 364, ../../../app/assets/styles/main.scss */
#section-two .before-start div {
  text-transform: uppercase;
}
/* line 366, ../../../app/assets/styles/main.scss */
#section-two .before-start div:first-child {
  padding-bottom: 5px;
}
/* line 367, ../../../app/assets/styles/main.scss */
#section-two .before-start div:first-child span {
  font-size: 4rem;
  color: #EAA845;
}
/* line 373, ../../../app/assets/styles/main.scss */
#section-two .before-start div:nth-child(2) {
  font-size: 1.8rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #EAA845;
}
/* line 380, ../../../app/assets/styles/main.scss */
#section-two .before-start div:last-child {
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-size: 1.1rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  text-transform: initial;
}
/* line 391, ../../../app/assets/styles/main.scss */
#section-two .after-start {
  padding-top: 10px;
  padding-right: 0px;
  padding-left: 10px;
  padding-bottom: 0px;
  font-family: "Roboto Condensed", sans-serif;
  color: #000;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
/* line 403, ../../../app/assets/styles/main.scss */
#section-two .after-start .date, #section-two .after-start .title1, #section-two .after-start .title2 {
  font-size: 1.3rem;
  letter-spacing: 2px;
}
/* line 409, ../../../app/assets/styles/main.scss */
#section-two .after-start .daynum span:nth-child(2) {
  margin-left: 5px;
  font-size: 2rem;
  vertical-align: middle;
  padding-top: 10px;
}
/* line 416, ../../../app/assets/styles/main.scss */
#section-two .after-start .event-img-wrap {
  height: 92px;
}
/* line 419, ../../../app/assets/styles/main.scss */
#section-two .after-start .prize {
  line-height: 1.1;
  padding-bottom: 2px;
}
/* line 424, ../../../app/assets/styles/main.scss */
#section-two .after-start .title1 {
  padding-top: 5px;
  padding-bottom: 2px;
}
/* line 428, ../../../app/assets/styles/main.scss */
#section-two .after-start small {
  font-style: normal;
  font-weight: 300;
}
/* line 434, ../../../app/assets/styles/main.scss */
#section-two .after-start ul li {
  color: #fff;
  font-size: 1.1rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  text-transform: initial;
}
/* line 442, ../../../app/assets/styles/main.scss */
#section-two .after-start .img-wrapper {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 180px;
}
/* line 447, ../../../app/assets/styles/main.scss */
#section-two .after-start .img-wrapper img {
  max-width: 100%;
}

/* line 454, ../../../app/assets/styles/main.scss */
#section-three {
  background-repeat: no-repeat;
  background-position: top;
}
/* line 457, ../../../app/assets/styles/main.scss */
#section-three .container {
  padding-left: 54px;
  padding-right: 500px;
}
/* line 460, ../../../app/assets/styles/main.scss */
#section-three .container h2 {
  margin-bottom: 30px;
}
/* line 463, ../../../app/assets/styles/main.scss */
#section-three .container .button-wrap {
  margin-top: 20px;
}

/* line 469, ../../../app/assets/styles/main.scss */
#section-four {
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 80px;
}
/* line 473, ../../../app/assets/styles/main.scss */
#section-four .container {
  padding-left: 54px;
  padding-right: 500px;
}
/* line 477, ../../../app/assets/styles/main.scss */
#section-four .container .s4-title-wrap h2 {
  padding-bottom: 30px;
}
/* line 480, ../../../app/assets/styles/main.scss */
#section-four .container .s4-title-wrap p, #section-four .container .s4-title-wrap a, #section-four .container .s4-title-wrap #section-two .login-wrapper ul li .welcome, #section-two .login-wrapper ul li #section-four .container .s4-title-wrap .welcome {
  padding-bottom: 30px;
}
/* line 485, ../../../app/assets/styles/main.scss */
#section-four .obj-wrap {
  margin-bottom: 20px;
}
/* line 487, ../../../app/assets/styles/main.scss */
#section-four .obj-wrap h3 {
  margin-bottom: 15px;
}
/* line 490, ../../../app/assets/styles/main.scss */
#section-four .obj-wrap .table-line {
  border-right: 1px solid white;
  padding-right: 10px;
  padding-top: 9px;
}
/* line 495, ../../../app/assets/styles/main.scss */
#section-four .obj-wrap .table-right {
  padding-left: 10px;
}
/* line 499, ../../../app/assets/styles/main.scss */
#section-four .when-wrap {
  margin-bottom: 20px;
}
/* line 501, ../../../app/assets/styles/main.scss */
#section-four .when-wrap h3 {
  margin-bottom: 15px;
}
/* line 504, ../../../app/assets/styles/main.scss */
#section-four .when-wrap .table-line {
  border-right: 1px solid white;
  padding-right: 10px;
  padding-top: 10px;
}
/* line 509, ../../../app/assets/styles/main.scss */
#section-four .when-wrap .table-right {
  padding-left: 10px;
  line-height: 1.2;
}
/* line 514, ../../../app/assets/styles/main.scss */
#section-four .button-wrap {
  margin-top: 30px;
  margin-bottom: 60px;
}

/* line 521, ../../../app/assets/styles/main.scss */
#section-five {
  clear: both;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 50px;
  text-align: center;
  position: relative;
}
/* line 529, ../../../app/assets/styles/main.scss */
#section-five #arrows0 {
  width: 800px;
  position: relative;
  margin: 0px auto;
  top: 445px;
}
/* line 534, ../../../app/assets/styles/main.scss */
#section-five #arrows0 .slick-prev0 {
  z-index: 10;
  position: absolute;
  font-size: 3em;
}
/* line 538, ../../../app/assets/styles/main.scss */
#section-five #arrows0 .slick-prev0:hover {
  color: #f6a623;
}
/* line 542, ../../../app/assets/styles/main.scss */
#section-five #arrows0 .slick-next0 {
  z-index: 5;
  position: absolute;
  font-size: 3em;
  padding-left: 750px;
}
/* line 547, ../../../app/assets/styles/main.scss */
#section-five #arrows0 .slick-next0:hover {
  color: #f6a623;
}
/* line 559, ../../../app/assets/styles/main.scss */
#section-five .container div:first-child {
  margin-bottom: 40px;
}
/* line 562, ../../../app/assets/styles/main.scss */
#section-five .container div:nth-child(2) {
  width: 600px;
  margin-bottom: 40px;
}
/* line 566, ../../../app/assets/styles/main.scss */
#section-five .container div:nth-child(4) {
  margin-top: 30px;
  margin-bottom: 60px;
}
/* line 571, ../../../app/assets/styles/main.scss */
#section-five .container .slick-wrap {
  position: relative;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 400px;
}
/* line 576, ../../../app/assets/styles/main.scss */
#section-five .container .slick-wrap .img-box {
  padding-top: 40px;
}
/* line 579, ../../../app/assets/styles/main.scss */
#section-five .container .slick-wrap .div-center {
  width: 800px;
  height: 295px;
}
/* line 582, ../../../app/assets/styles/main.scss */
#section-five .container .slick-wrap .div-center img {
  margin: 0 auto;
}
/* line 586, ../../../app/assets/styles/main.scss */
#section-five .container .slick-wrap .weapon-name {
  margin-top: -38px;
  width: 800px;
}

/* line 595, ../../../app/assets/styles/main.scss */
#section-six {
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: initial;
  padding-top: 80px;
  padding-bottom: 80px;
}
/* line 603, ../../../app/assets/styles/main.scss */
#section-six .flex-container, #section-six .flex-default, #section-six .btn1, #section-six .btn2, #section-six #section-one .top-nav, #section-one #section-six .top-nav, #section-six #section-one .top-nav .navlink, #section-one .top-nav #section-six .navlink, #section-six #section-one .top-nav .language-bar, #section-one .top-nav #section-six .language-bar, #section-six #section-one .top-nav .language-bar .dropdown-menu li, #section-one .top-nav .language-bar .dropdown-menu #section-six li, #section-six #section-two .before-start, #section-two #section-six .before-start, #section-six #section-two .flex-container2, #section-two #section-six .flex-container2, #section-six #section-five .container, #section-five #section-six .container {
  width: 100%;
}
/* line 607, ../../../app/assets/styles/main.scss */
#section-six .item1 {
  width: 500px;
  padding-right: 100px;
}
/* line 610, ../../../app/assets/styles/main.scss */
#section-six .item1 img {
  margin-bottom: 20px;
}
/* line 616, ../../../app/assets/styles/main.scss */
#section-six iframe {
  box-shadow: 0 0 10px #222;
  border-radius: 10px;
}

/* line 622, ../../../app/assets/styles/main.scss */
footer {
  background-color: #4A4A4A;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px auto;
}
/* line 627, ../../../app/assets/styles/main.scss */
footer .container {
  width: 860px;
}
/* line 630, ../../../app/assets/styles/main.scss */
footer .container .flex-container .item1, footer .container .flex-default .item1, footer .container .btn1 .item1, footer .container .btn2 .item1, footer .container #section-one .top-nav .item1, #section-one footer .container .top-nav .item1, #section-one .top-nav footer .container .navlink .item1, #section-one .top-nav footer .container .language-bar .item1, #section-one .top-nav .language-bar .dropdown-menu footer .container li .item1, footer .container #section-two .before-start .item1, #section-two footer .container .before-start .item1, footer .container #section-two .flex-container2 .item1, #section-two footer .container .flex-container2 .item1, footer .container #section-five .container .item1, #section-five footer .container .container .item1 {
  padding-top: 4px;
}
/* line 633, ../../../app/assets/styles/main.scss */
footer .container .flex-container .item2, footer .container .flex-default .item2, footer .container .btn1 .item2, footer .container .btn2 .item2, footer .container #section-one .top-nav .item2, #section-one footer .container .top-nav .item2, #section-one .top-nav footer .container .navlink .item2, #section-one .top-nav footer .container .language-bar .item2, #section-one .top-nav .language-bar .dropdown-menu footer .container li .item2, footer .container #section-two .before-start .item2, #section-two footer .container .before-start .item2, footer .container #section-two .flex-container2 .item2, #section-two footer .container .flex-container2 .item2, footer .container #section-five .container .item2, #section-five footer .container .container .item2 {
  padding-top: 10px;
}
/* line 640, ../../../app/assets/styles/main.scss */
footer .copyright {
  color: #DCDCDC;
  font-size: 15px;
}