// font //
$font-size-normal: 1.4rem;
$font-size-large: 3rem;
$font-size-small: 1rem;

// color //
$white-color: #fff;
$black-color: #000;
$purple-color: #440e62;
$pink-color: #f49ac1;
$bg-color: #1e1e1e;

// url //
$url-section-one-bg: url('../images/section-one-bg.jpg');
$url-section-two-bg: url('../images/section-two-bg.jpg');
$url-section-three-bg: url('../images/section-three-bg.jpg');
$url-section-four-bg: url('../images/section-four-bg.jpg');
$url-section-five-bg: url('../images/section-five-bg.jpg');
$url-section-six-bg: url('../images/section-six-bg.jpg');
$url-section-seven-bg: url('../images/section-seven-bg.jpg');
$url-section-eight-bg: url('../images/section-eight-bg.jpg');

$url-blackshot-logo: url('../images/blackshot-logo.png');
$url-carousel-box-bg: url('../images/carousel-box-bg.jpg');
$url-section-five-btn: url('../images/section-five-btn.png');
$url-section-seven-btn: url('../images/section-seven-btn.png');

// font-family //
$default-font: "proxima-nova", verdana, sans-serif;
$accent-font: "proxima-nova-alt-ext-cond", verdana, sans-serif;