<!--<section id="top-nav" ng-show="topNavVisible" class="animated fadeIn">
    <div class="container">
        <ul>
            <li><a href="#section2" class="tabs" du-smooth-scroll du-scrollspy translate="{{ 'new-game-mode' }}"></a><span></span></li>
            <li><a href="#section3" class="tabs" du-smooth-scroll du-scrollspy translate="{{ 'new-map' }}"></a><span></span></li>
            <li><a href="#section4" class="tabs" du-smooth-scroll du-scrollspy translate="{{ 'hunt-is-on' }}"></a><span></span></li>
            <li><i class="icon-blackshot"></i></li>
            <li><a href="#section5" class="tabs" du-smooth-scroll du-scrollspy translate="{{ 'accolades' }}"></a><span></span></li>
            <li><a href="#section6" class="tabs" du-smooth-scroll du-scrollspy>claymore</a><span></span></li>
            <li><a href="#section9" class="tabs" du-smooth-scroll du-scrollspy translate="{{ 'event' }}"></a><span></span></li>
        </ul>
    </div>
</section>-->

<section id="logo-top">
	<div class="container">
		<!-- top nav starts -->
		<div class="top-nav">
			<div class="navlink"><a href="{{ linkUrl.dekaron }}" target="_blank">{{ 'goback' | translate }}</a></div>
			<div class="language-bar">
				<div class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">
                        <span style="padding-right: 10px;"><img ng-src="{{imgUrl}}/flag-{{ flag }}.svg"
                                                                default-image="{{imgUrl}}/default.png" height="15"
                                                                alt="flag"></span><span>{{ lang }}</span><b
							class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li ng-click="switchLanguage('en')">
                            <span><img ng-src="{{imgUrl}}/flag-uk.svg"
                                       default-image="{{imgUrl}}/default.png" height="15"
                                       alt="english flag"></span><span translate="{{ 'english' }}"></span>
						</li>
						<li ng-click="switchLanguage('de')">
                            <span><img ng-src="{{imgUrl}}/flag-germany.svg"
                                       default-image="{{imgUrl}}/default.png" height="15"
                                       alt="german flag"></span><span translate="{{ 'german' }}"></span>
						</li>
						<li ng-click="switchLanguage('fr')">
                            <span><img ng-src="{{imgUrl}}/flag-france.svg"
                                       default-image="{{imgUrl}}/default.png" height="15"
                                       alt="french flag"></span><span translate="{{ 'french' }}"></span>
						</li>
						<li ng-click="switchLanguage('pt')">
                            <span><img ng-src="{{imgUrl}}/flag-brazil.svg"
                                       default-image="{{imgUrl}}/default.png" height="15"
                                       alt="brazil flag"></span><span class="text-capitalize"
                                                                      translate="{{ 'portuguese' }}"></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- logo starts-->
		<div>
			<div class="logo-wrapper">
				<a href="{{ linkUrl.dekaron }}" target="_blank">
					<ul>
						<li><img ng-src="{{imgUrl}}/dk_logo.png" default-image="{{imgUrl}}/default.png"
						         class="logo" alt="logo"/></li>
						<li><img ng-src="{{imgUrl}}/act19-p2-title.png"
						         default-image="{{imgUrl}}/default.png" class="logo" alt="logo"/></li>
					</ul>
				</a>
			</div>
		</div>
	</div>
</section>

<section id="section2">
	<div class="container">
		<h2 translate="{{ 's1-sub-title' }}"></h2>
		<h1 translate="{{ 's1-title' }}"></h1>
		<p translate="{{ 's1-text' }}"></p>
		<div class="container">
			<table>
				<tr class="titles">
					<th>{{'s1-col1'| translate}}</th>
					<th>{{'s1-col2'| translate}}</th>
					<th>{{'s1-col3'| translate}}</th>
					<th>{{'s1-col4'| translate}}</th>
				</tr>
				<tr class="texts">
					<td class="star"><i class="act19-p2-icon-star"></i></td>
					<td class="percent">20% - 25%</td>
					<td><i class="act19-p2-icon-no i-no"></i></td>
					<td><i class="act19-p2-icon-no i-no"></i></td>
				</tr>
				<tr class="texts">
					<td class="star"><i class="act19-p2-icon-star"></i><i class="act19-p2-icon-star"></i></td>
					<td class="percent">32% - 40%</td>
					<td><i class="act19-p2-icon-no i-no"></i></td>
					<td><i class="act19-p2-icon-no i-no"></i></td>
				</tr>
				<tr class="texts">
					<td class="star"><i class="act19-p2-icon-star"></i><i class="act19-p2-icon-star"></i><i
							class="act19-p2-icon-star"></i></td>
					<td class="percent">104% - 130%</td>
					<td><i class="act19-p2-icon-yes i-yes"></i></td>
					<td><i class="act19-p2-icon-no i-no"></i></td>
				</tr>
				<tr class="texts">
					<td class="star"><i class="act19-p2-icon-star"></i><i class="act19-p2-icon-star"></i><i
							class="act19-p2-icon-star"></i><i class="act19-p2-icon-star"></i></td>
					<td class="percent">144% - 180%</td>
					<td><i class="act19-p2-icon-yes i-yes"></i></td>
					<td><i class="act19-p2-icon-no i-no"></i></td>
				</tr>
				<tr class="texts">
					<td class="star"><i class="act19-p2-icon-star"></i><i class="act19-p2-icon-star"></i><i
							class="act19-p2-icon-star"></i><i class="act19-p2-icon-star"></i><i
							class="act19-p2-icon-star"></i></td>
					<td class="percent">192% - 240%</td>
					<td><i class="act19-p2-icon-yes i-yes"></i></td>
					<td><i class="act19-p2-icon-yes i-yes"></i></td>
				</tr>
				<tr class="texts">
					<td class="star"><i class="act19-p2-icon-star"></i><i class="act19-p2-icon-star"></i><i
							class="act19-p2-icon-star"></i><i class="act19-p2-icon-star"></i><i
							class="act19-p2-icon-star"></i><i class="act19-p2-icon-star"></i></td>
					<td class="percent">248% - 310%</td>
					<td><i class="act19-p2-icon-yes i-yes"></i></td>
					<td><i class="act19-p2-icon-yes i-yes"></i></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="sergio-cont">
		<div class="con-left">
			<img ng-src="{{imgUrl}}/npc-sergio.png" alt="">
		</div>
		<div class="con-right">
			<h2 class="title">{{'s2-title'| translate}}</h2>
			<ul class="text-ul">
				<li translate="{{'s2-col1'}}"></li>
				<li translate="{{'s2-col2'}}"></li>
				<li translate="{{'s2-col2-1'}}"></li>
				<li translate="{{'s2-col4'}}"></li>
				<li translate="{{'s2-col5'}}"></li>
			</ul>
		</div>
	</div>
	<div class="crystal-cont">
		<img src="{{imgUrl}}/sec1/crystal.png" alt="">
		<h1 translate="{{ 's3-title' }}"></h1>
		<p translate="{{ 's3-sub-title' }}"></p>
		<table>
			<tr class="titles">
				<th>{{'s1-col1'| translate}}</th>
				<th>{{'s3-col2'| translate}}</th>
				<th>{{'s3-col3'| translate}}</th>
			</tr>
			<tr class="texts">
				<td class="star"><i class="act19-p2-icon-star"></i></td>
				<td class="percent">1</td>
				<td>3</td>
			</tr>
			<tr class="texts">
				<td class="star"><i class="act19-p2-icon-star"></i><i class="act19-p2-icon-star"></i></td>
				<td class="percent">2</td>
				<td>24</td>
			</tr>
			<tr class="texts">
				<td class="star"><i class="act19-p2-icon-star"></i><i class="act19-p2-icon-star"></i><i
						class="act19-p2-icon-star"></i></td>
				<td class="percent">4</td>
				<td>108</td>
			<tr class="texts">
				<td class="star"><i class="act19-p2-icon-star"></i><i class="act19-p2-icon-star"></i><i
						class="act19-p2-icon-star"></i><i class="act19-p2-icon-star"></i></td>
				<td class="percent">8</td>
				<td>384</td>
			</tr>
			<tr class="texts">
				<td class="star"><i class="act19-p2-icon-star"></i><i class="act19-p2-icon-star"></i><i
						class="act19-p2-icon-star"></i><i class="act19-p2-icon-star"></i><i
						class="act19-p2-icon-star"></i></td>
				<td class="percent">15</td>
				<td>1,125</td>
			</tr>
			<tr class="texts">
				<td class="star"><i class="act19-p2-icon-star"></i><i class="act19-p2-icon-star"></i><i
						class="act19-p2-icon-star"></i><i class="act19-p2-icon-star"></i><i
						class="act19-p2-icon-star"></i><i class="act19-p2-icon-star"></i></td>
				<td class="percent">25</td>
				<td>-</td>
			</tr>
		</table>
	</div>
	<div class="enhance-cont">
		<h1 class="title">{{'s4-title'| translate}}</h1>
		<h2 class="sub-title1">{{'s4-sub-title1'| translate}}</h2>
		<h2 class="sub-title2">{{'s4-sub-title2'| translate}}</h2>
		<p class="text">{{'s4-text1'| translate}}</p>
		<p class="text">{{'s4-text2'| translate}}</p>
	</div>
</section>

<section id="section4">
	<div class="container">
		<h2 translate="{{ 's5-sub-title' }}"></h2>
		<h1 translate="{{ 's5-title' }}"></h1>
		<p translate="{{ 's5-text' }}"></p>
		<div class="container">
			<ul id="s4" class="nav nav-tabs" role="tablist">
				<li role="presentation" ng-repeat="node in s4tabs" class="{{node.class}} centered ">
					<a href="{{node.tablink}}" target="_self" role="tab" data-toggle="tab" class="text-uppercase">{{node.text
					                                                                                              | translate}}</a>
				</li>
			</ul>
			<!-- contents -->
			<div class="tab-content clearfix">
				<div class="tab-pane fade in active" id="s4-node2">
					<div class="container">
						<div class="flex-default">
							<div class="col1">
								<h4 translate="{{ 's4-tab2-btn-name'}}"></h4>
								<p translate="{{ 's4-tab2-text'}}"></p>
							</div>
							<div class="col2">
								<div id="s4-tab2-slide">
									<div ng-repeat="sl1 in s4sl1">
										<img ng-src="{{s4sl_url}}s1/{{sl1.imgName}}"
										     default-image="{{imgUrl}}/default.png">
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6">
										<img id="next-area4" src="{{imgUrl}}/default.png" style="cursor:w-resize"/>
									</div>
									<div class="col-xs-6">
										<img id="prev-area4" src="{{imgUrl}}/default.png" style="cursor:e-resize"/>
									</div>
								</div>
								<div id="s4-arrows1">
									<span id="s4-title1"></span>
									<div class="s4-slick-next1">
										<span class="act19-p2-icon-arrow-r"></span>
									</div>
									<span id="s4-pageNo1"></span>
									<div class="s4-slick-prev1">
										<span class="act19-p2-icon-arrow-l"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="s4-node3">
					<div class="row">
						<div class="col-xs-6">
							<h4 translate="{{ 's4-tab3-btn-name'}}"></h4>
							<p translate="{{ 's4-tab3-text'}}"></p>
						</div>
						<div class="col-xs-6">
							<h3 translate="{{ 's4-tab3-header'}}"></h3>
							<p translate="{{ 's4-tab3-content'}}"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--<a href="#" target="_blank" class="btn1">{{ 'learn-more' | translate }}</a>-->

	<div class="container-arrow">
		<div class="div-arrow-left3">
			<span class="act19-p2-icon-arrow-l"></span>
		</div>
		<div class="div-arrow-right3">
			<span class="act19-p2-icon-arrow-r"></span>
		</div>
	</div>
</section>
<section id="section11">
	<div class="container">
		<h2 translate="{{ 's6-sub-title' }}"></h2>
		<h1 translate="{{ 's6-title' }}"></h1>
		<p translate="{{ 's6-text' }}"></p>

		<div class="container">
			<ul id="dungeon" class="nav nav-tabs" role="tablist">
				<li role="presentation" ng-repeat="node in dungeonNode" class="{{node.class}} centered ">
					<a href="{{node.tablink}}" target="_self" role="tab" data-toggle="tab"
					   class="text-uppercase">{{ node.text | translate }}</a>
				</li>
			</ul>
			<!-- contents -->
			<div class="tab-content">
				<div class="tab-pane fade in active" id="d-node1">
					<div class="container">
						<div id="s1-tab1-slide">
							<div ng-repeat="sl in s1sl0">
								<img ng-src="{{imgUrl}}/sl-map/{{sl.image}}"
								     default-image="{{imgUrl}}/default.png">
							</div>
						</div>
						<div id="arrows0">
							<span id="title0">Death Corridor</span>
							<div class="slick-next0">
								<span class="act19-p2-icon-arrow-r"></span>
							</div>
							<span id="pageNo0"></span>
							<div class="slick-prev0">
								<span class="act19-p2-icon-arrow-l"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<img id="next-area0" src="{{imgUrl}}/default.png" style="cursor:w-resize"/>
						</div>
						<div class="col-xs-6">
							<img id="prev-area0" src="{{imgUrl}}/default.png" style="cursor:e-resize"/>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="d-node2">
					<div class="container">
						<div class="flex-default">
							<div class="col1">
								<h4 translate="{{ 's1-tab2-btn-name' }}"></h4>
								<p translate="{{ 's6-tab2-text' }}"></p>
							</div>
							<div class="col2">
								<img ng-src="{{imgUrl}}/death-corridor/map-death-corridor.jpg"
								     default-image="{{imgUrl}}/default.png">
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="d-node3">
					<div id="s1-tab3-slide">
						<div ng-repeat="sl in s1sl1">
							<img ng-src="{{imgUrl}}/sl-monster/{{sl.image}}">
						</div>
					</div>
					<div id="arrows1">
						<span id="title1"></span>
						<div class="slick-next1">
							<span class="act19-p2-icon-arrow-r"></span>
						</div>
						<span id="pageNo1"></span>
						<div class="slick-prev1">
							<span class="act19-p2-icon-arrow-l"></span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<img id="next-area1" src="{{imgUrl}}/default.png" style="cursor:w-resize"/>
						</div>
						<div class="col-xs-6">
							<img id="prev-area1" src="{{imgUrl}}/default.png" style="cursor:e-resize"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-arrow">
		<div class="div-arrow-left" id="s11-arrow-l">
			<span class="act19-p2-icon-arrow-l"></span>
		</div>
		<div class="div-arrow-right" id="s11-arrow-r">
			<span class="act19-p2-icon-arrow-r"></span>
		</div>
	</div>

	<!--
	<h2 class="buff-title">{{ 's7-title' | translate }}</h2>
	<div class="buff-cont">
		<div class="text-cont">
			<div class="title-warp">
				<i class="act19-p2-icon-defense"></i>
				<h2 class="title">{{ 's7-sub-title1' | translate }}</h2>
			</div>
			<div class="buff-box">
				<ul class="buff-ul">
					<li>
						<div class="text-wrap">{{ 's7-left-btn0' | translate }}</div>
					</li>
					<li>
						<div class="text-wrap">{{ 's7-left-btn1' | translate }}</div>
					</li>
					<li>
						<div class="text-wrap">{{ 's7-left-btn2' | translate }}</div>
					</li>
					<li>
						<div class="text-wrap">{{ 's7-left-btn3' | translate }}</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="text-cont">
			<div class="title-warp">
				<i class="act19-p2-icon-attack"></i>
				<h2 class="title">{{ 's7-sub-title2' | translate }}</h2>
			</div>
			<div class="buff-box">
				<ul class="buff-ul">
					<li>
						<div class="text-wrap">{{ 's7-right-btn0' | translate }}</div>
					</li>
					<li>
						<div class="text-wrap">{{ 's7-right-btn1' | translate }}</div>
					</li>
					<li>
						<div class="text-wrap">{{ 's7-right-btn2' | translate }}</div>
					</li>
					<li>
						<div class="text-wrap">{{ 's7-right-btn3' | translate }}</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<p class="buff-text">{{ 's7-text' | translate }}</p>
	<h2 class="give-title">{{ 's8-title' | translate }}</h2>
	<p class="give-text">{{ 's8-sub-title' | translate }}</p>
	<table>
		<tr class="titles">
			<th>{{'s8-tb1-col1'| translate}}</th>
			<th>{{'condition'| translate}}</th>
			<th>{{'reward'| translate}}</th>
		</tr>
		<tr class="texts">
			<td>{{'step'|translate}} 1</td>
			<td>
				<div class="text-icon-wrap">
					<i class="act19-p2-icon-clock"></i>
					<p>30 {{'minutes'|translate}}</p>
				</div>
			</td>
			<td>{{'s8-tb1-reward1'|translate}}</td>
		</tr>
		<tr class="texts">
			<td>{{'step'|translate}} 2</td>
			<td>
				<div class="text-icon-wrap">
					<i class="act19-p2-icon-clock"></i>
					<p>30 {{'minutes'|translate}}</p>
				</div>
			</td>
			<td>{{'s8-tb1-reward2'|translate}}</td>
		</tr>
		<tr class="texts">
			<td>{{'step'|translate}} 3</td>
			<td>
				<div class="text-icon-wrap">
					<i class="act19-p2-icon-clock"></i>
					<p>30 {{'minutes'|translate}}</p>
				</div>
			</td>
			<td style="color:#FF2B45;">{{'s8-tb1-reward3'|translate}}</td>
		</tr>
	</table>
	<br>
	<br>
	<table>
		<tr class="titles">
			<th>{{'s8-tb2-col1'| translate}}</th>
			<th>{{'condition'| translate}}</th>
			<th>{{'reward'| translate}}</th>
		</tr>
		<tr class="texts">
			<td>{{'step'|translate}} 1</td>
			<td>100</td>
			<td>{{'s8-tb2-reward1'|translate}}</td>
		</tr>
		<tr class="texts">
			<td>{{'step'|translate}} 2</td>
			<td>100</td>
			<td>{{'s8-tb2-reward2'|translate}}</td>
		</tr>
		<tr class="texts">
			<td>{{'step'|translate}} 3</td>
			<td>100</td>
			<td style="color:#FF2B45;">{{'s8-tb2-reward3'|translate}}</td>
		</tr>
	</table>
	//-->
</section>
<section id="section5">
	<div class="container">
		<h1>{{'s9-title'|translate}}</h1>
		<p>{{'s9-sub-title'|translate}}</p>
		<img src="{{imgUrl}}/death-corridor/section3-emblems.png" alt="">
	</div>
	<div class="emblem-cont">
		<div class="title-wrap">
			<i class="act19-p2-icon-emblem"></i>
			<h2>{{ 's9-tab-title' | translate }}</h2>
		</div>
		<div class="div-cont">
			<div class="left">
				<ul class="buff-ul">
					<li>
						<div class="text-wrap">{{ 's9-tb-btn1' | translate }}</div>
					</li>
					<li>
						<div class="text-wrap">{{ 's9-tb-btn2' | translate }}</div>
					</li>
					<li>
						<div class="text-wrap">{{ 's9-tb-btn3' | translate }}</div>
					</li>
					<li>
						<div class="text-wrap">{{ 's9-tb-btn4' | translate }}</div>
					</li>
					<li>
						<div class="text-wrap">{{ 's9-tb-btn5' | translate }}</div>
					</li>
				</ul>
			</div>
			<div class="right"><img src="{{imgUrl}}/death-corridor/section3-emblem50.png" alt=""></div>
		</div>
	</div>
	<div class="tb1-cont">
		<h2>{{ 's10-title' | translate }}</h2>
		<p translate="{{'s10-sub-title'}}"></p>
		<table class="tb1-wrap">
			<tr class="titles">
				<th>{{'s10-tb1-col1'| translate}}</th>
				<th>{{'s10-tb1-col2'| translate}}</th>
			</tr>
			<tr class="texts">
				<td>Lvl 0 ~ 10</td>
				<td>{{'Death-corridor-argate'|translate}} Ⅰ</td>
			</tr>
			<tr class="texts">
				<td>Lvl 11 ~ 20</td>
				<td>{{'Death-corridor-argate'|translate}} Ⅱ</td>
			</tr>
			<tr class="texts">
				<td>Lvl 21 ~ 30</td>
				<td>{{'Death-corridor-argate'|translate}} Ⅲ</td>
			</tr>
			<tr class="texts">
				<td>Lvl 31 ~ 40</td>
				<td>{{'Death-corridor-argate'|translate}} Ⅳ</td>
			</tr>
			<tr class="texts">
				<td>Lvl 41 ~ 50</td>
				<td>{{'Death-corridor-argate'|translate}} Ⅴ</td>
			</tr>
		</table>
		<p class="sub-text">{{ 's10-text' | translate }}</p>
	</div>
	<div class="tb1-cont">
		<h2>{{ 's11-title' | translate }}</h2>
		<p translate="{{'s11-sub-title'}}"></p>
		<table class="tb2-wrap">
			<tr class="titles">
				<th>{{'s11-col1'| translate}}</th>
				<th>{{'s11-col2'| translate}}</th>
				<th>{{'s11-col3'| translate}}</th>
			</tr>
			<tr class="texts">
				<td>{{'Death-corridor-argate'|translate}} {{'random-box'|translate}}</td>
				<td>{{'Death-corridor-argate'|translate}} Ⅰ</td>
				<td>3</td>
			</tr>
			<tr class="texts">
				<td>{{'Death-corridor-argate'|translate}} Ⅱ</td>
				<td>{{'Death-corridor-argate'|translate}} Ⅰ</td>
				<td>2</td>
			</tr>
			<tr class="texts">
				<td>{{'Death-corridor-argate'|translate}} Ⅲ</td>
				<td>{{'Death-corridor-argate'|translate}} Ⅰ</td>
				<td>4</td>
			</tr>
			<tr class="texts">
				<td>{{'Death-corridor-argate'|translate}} Ⅳ</td>
				<td>{{'Death-corridor-argate'|translate}} Ⅰ</td>
				<td>8</td>
			</tr>
			<tr class="texts">
				<td>{{'Death-corridor-argate'|translate}} Ⅴ</td>
				<td>{{'Death-corridor-argate'|translate}} Ⅰ</td>
				<td>26</td>
			</tr>
			<tr class="texts">
				<td>{{'Death-corridor-argate'|translate}} {{'emblem'|translate}} +50 1 {{'Day-box'|translate}}</td>
				<td>{{'Death-corridor-argate'|translate}} Ⅰ</td>
				<td>300</td>
			</tr>
			<tr class="texts">
				<td>{{'Death-corridor-argate'|translate}} {{'emblem'|translate}} +0 ({{'permanent'|translate}})</td>
				<td>{{'Death-corridor-argate'|translate}} Ⅰ</td>
				<td>500</td>
			</tr>
		</table>
	</div>
	<div class="tb1-cont">
		<h2>{{'s12-title'| translate}}</h2>
		<table class="tb3-wrap">
			<tr class="titles">
				<th>{{'s12-col1'| translate}}</th>
				<th>{{'s12-col2'| translate}}</th>
				<th>{{'s12-col3'| translate}}</th>
				<th>{{'s12-col4'| translate}}</th>
			</tr>
			<tr class="texts">
				<td>{{'Death-corridor-argate'|translate}} Ⅰ</td>
				<td>1</td>
				<td>{{'Death-corridor-argate'|translate}} Ⅱ</td>
				<td>1</td>
			</tr>
			<tr class="texts">
				<td>{{'step'|translate}} 2</td>
				<td>2</td>
				<td>{{'Death-corridor-argate'|translate}} Ⅲ</td>
				<td>1</td>
			</tr>
			<tr class="texts">
				<td>{{'step'|translate}} 3</td>
				<td>4</td>
				<td>{{'Death-corridor-argate'|translate}} Ⅳ</td>
				<td>1</td>
			</tr>
			<tr class="texts">
				<td>{{'step'|translate}} 3</td>
				<td>8</td>
				<td>{{'Death-corridor-argate'|translate}} Ⅴ</td>
				<td>1</td>
			</tr>
		</table>
	</div>
	<div class="tb4-cont">
		<h2>{{'s13-title'| translate}}</h2>
		<p translate="{{'s13-context'}}"></p>
		<img ng-src="{{imgUrl}}/weekly1.png" alt="">
		<img ng-src="{{imgUrl}}/weekly2.png" alt="">
	</div>
</section>


<section id="section12">
	<div class="container">
		<h2 translate="{{ 's14-sub-title' }}"></h2>
		<h1 translate="{{ 's14-title' }}"></h1>
		<h2 translate="{{ 's14-sub-text' }}"></h2>

		<div class="container">
			<ul id="dungeon2" class="nav nav-tabs" role="tablist">
				<li role="presentation" ng-repeat="node in dungeonNode2" class="{{node.class}} centered"><a
						href="{{node.tablink}}" target="_self" role="tab" data-toggle="tab"
						class="text-uppercase">{{ node.text | translate }}</a></li>
			</ul> <!-- contents -->
			<div class="tab-content">
				<div class="tab-pane fade in active" id="p-node1">
					<div class="container">
						<div id="s12-tab1-slide">
							<div ng-repeat="sl in slMap2"><img ng-src="{{imgUrl}}/sl-map2/{{sl.image}}"
							                                   default-image="{{imgUrl}}/default.png"></div>
						</div>
						<div id="s12-arrows"><span id="s12-title">Karon's Fragments</span>
							<div id="s12-next"><span class="act19-p2-icon-arrow-r"></span></div>
							<span id="s12-pageNo"></span>
							<div id="s12-prev"><span class="act19-p2-icon-arrow-l"></span></div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6"><img id="s12-next-area" src="{{imgUrl}}/default.png"
						                           style="cursor:w-resize"></div>
						<div class="col-xs-6"><img id="s12-prev-area" src="{{imgUrl}}/default.png"
						                           style="cursor:e-resize"></div>
					</div>
				</div>
				<div class="tab-pane fade" id="p-node2">
					<div class="container">
						<div class="flex-default">
							<div class="col1"><h4 translate="{{ 's1-tab2-btn-name' }}"></h4>
								<p translate="{{ 's6-tab2-text' }}"></p></div>
							<div class="col2"><img ng-src="{{imgUrl}}/karon-fragment-section/map.png"
							                       default-image="{{imgUrl}}/default.png"></div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="p-node3">
					<div class="container">
						<div class="flex-default">
							<div class="col1"><h4 translate="{{ 'reward' }}"></h4>
								<p translate="{{ 'reward-texts' }}"></p></div>
							<div class="col2"><img ng-src="{{imgUrl}}/karon-fragment-section/karon-fragments-map.jpg"
							                       default-image="{{imgUrl}}/default.png"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-arrow">
		<div class="div-arrow-left" id="s12-arrow-l"><span class="act19-p2-icon-arrow-l"></span></div>
		<div class="div-arrow-right" id="s12-arrow-r"><span class="act19-p2-icon-arrow-r"></span></div>
	</div>
</section>
<section id="section6">
	<h2>{{ 's15-sub-title' | translate }}</h2>
	<h1>{{ 's15-title' | translate}}</h1>
	<div class="text-wrap">
		<h2>{{ 's15-text' | translate}} <span>1500 DKC</span></h2>
		<p translate="{{'s15-package-text'}}"></p>
	</div>
	<h2 class="gap-text">{{ 's15-sub-text1'| translate }}</h2>
	<div class="text-wrap2">
		<h2 class="text2-title">{{ 's16-title'| translate }}</h2>
		<div class="div-cont">
			<div class="left">
				<h2>{{ 's16-sub-title'| translate }}</h2>
				<p translate="{{'s16-left-text'}}"></p>
			</div>
			<div class="right">
				<h2 style="font-size:16px; margin-bottom: 10px; text-align: center; line-height: 22px;">Golden Mechanic Wings<br>(in Special Golden Box)
				</h2>
				<table>
					<tr>
						<td>{{ 's16-right-text1'| translate }}</td>
						<td>9000</td>
					</tr>
					<tr>
						<td>{{ 's16-right-text2'| translate }}</td>
						<td>25%</td>
					</tr>
					<tr>
						<td>{{ 's16-right-text3'| translate }}</td>
						<td>30%</td>
					</tr>
					<tr>
						<td>{{ 's16-right-text4'| translate }}</td>
						<td>17%</td>
					</tr>
					<tr>
						<td>{{ 's16-right-text5' | translate}}</td>
						<td>18%</td>
					</tr>
					<tr>
						<td>{{ 's16-right-text6'| translate }}</td>
						<td>60%</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="btn-wrap">
		<h1>{{ 's17-title' | translate }}</h1>
		<a href="https://dekaron.papayaplay.com/dekaron.do?tp=shop" target="_blank">
			<div class="btn-wrapper">{{ 'check-out-now' | translate }}</div>
		</a>
	</div>
</section>

<footer id="footer">
	<div class="container">
		<div class="flex-default">
			<div class="col1">
				<a href="{{linkUrl.papayaplay}}" target="_blank">
					<img ng-src="{{imgUrl}}/papaya-logo.svg" default-image="{{imgUrl}}/default.png"
					     alt="papaya logo" style="width: 160px;">
				</a>
			</div>
			<div class="col2">
				<p translate="{{ 'copyright' }}"></p>
			</div>
			<div class="col3">
				<a href="{{linkUrl.ubifun}}" target="_blank">
					<img style="height: 28px;" ng-src="{{imgUrl}}/ubifun-logo.png"
					     default-image="{{imgUrl}}/default.png" alt="vertigo logo">
				</a>
			</div>
		</div>
	</div>
</footer>

<script type='text/javascript'>

	var itemArr = ["Bishop's Bible",
		"Ductile Stone",
		"Helpyron's Eye",
		"Helpyron's Heart",
		"Helpyron's Nail",
		"Helpyron's Skin",
		"Baron's"];

	var monArr = ["Boss Monster - Full",
		"Boss Monster - Zoom"];

	var armorArr = ["Aloken", "Segnale", "Seguriper", "Vicious Summoner", "Azure Knight",
		"Bagi Warrior", "Black Wizard", "Conserra Summoner", "Dragon Knight", "Half Bagi",
		"Incar Magician", "Segita Hunter"];

	$(document).ready(function () {
		$('.div-arrow-right3').click(function () {
			$('#s4 > .active').next('li').find('a').trigger('click');
		});

		$('.div-arrow-left3').click(function () {
			$('#s4 > .active').prev('li').find('a').trigger('click');
		});

		$('#s11-arrow-r').click(function () {
			$('.nav-tabs > .active').next('li').find('a').trigger('click');
		});

		$('#s11-arrow-l').click(function () {
			$('.nav-tabs > .active').prev('li').find('a').trigger('click');
		});

		$('#s12-arrow-r').click(function () {
			$('#dungeon2 > .active').next('li').find('a').trigger('click');
		});

		$('#s12-arrow-l').click(function () {
			$('#dungeon2 > .active').prev('li').find('a').trigger('click');
		});

		//
		// section4
		//
		// s1
		var s4sl1 = $('#s4-tab2-slide').slick({
			arrows: false,
			appendArrows: $('#s4-arrows1')
		});

		var s4cp1 = $('#s4-tab2-slide').slick('getCurrent') + 1;
		var s4tp1 = $('#s4-tab2-slide').slick('getDotCount') + 1;

		$('#s4-pageNo1').text(s4cp1 + ' / ' + s4tp1);
		$("#s4-title1").text(armorArr[0]);
		$('.s4-slick-next1').on('click', function () {
			s4sl1.slick('slickNext');
		});
		$('.s4-slick-prev1').on('click', function () {
			s4sl1.slick('slickPrev');
		});
		$('#prev-area4').on('click', function () {
			s4sl1.slick('slickNext');
		});
		$('#next-area4').on('click', function () {
			s4sl1.slick('slickPrev');
		});
		$('#s4-tab2-slide').on('afterChange', function (event, slick, currentSlide) {
			var totalPage = slick.slideCount;
			var currentPage = slick.currentSlide + 1;
			var setTag = currentPage + ' / ' + totalPage;
			$("#s4-pageNo1").text(setTag);
			$("#s4-title1").text(armorArr[slick.currentSlide]);
		});

		// section1
		var slick0 = $('#s1-tab1-slide').slick({
			arrows: false,
			appendArrows: $('#arrows0')
		});
		var cp0 = $('#s1-tab1-slide').slick('getCurrent') + 1;
		var tp0 = $('#s1-tab1-slide').slick('getDotCount') + 1;
		$('#pageNo0').text(cp0 + ' / ' + tp0);
		$('.slick-next0').on('click', function () {
			slick0.slick('slickNext');
		});
		$('.slick-prev0').on('click', function () {
			slick0.slick('slickPrev');
		});

		$('#prev-area0').on('click', function () {
			slick0.slick('slickNext');
		});
		$('#next-area0').on('click', function () {
			slick0.slick('slickPrev');
		});
		$('#s1-tab1-slide').on('afterChange', function (event, slick, currentSlide) {
			var totalPage = slick.slideCount;
			var currentPage = slick.currentSlide + 1;
			var setTag = currentPage + ' / ' + totalPage;
			$("#pageNo0").text(setTag);
		});

		// s1
		var slick1 = $('#s1-tab3-slide').slick({
			arrows: false,
			appendArrows: $('#arrows1')
		});
		var cp1 = $('#s1-tab3-slide').slick('getCurrent') + 1;
		var tp1 = $('#s1-tab3-slide').slick('getDotCount') + 1;
		$("#title1").text(monArr[0]);

		$('#pageNo1').text(cp1 + ' / ' + tp1);
		$('.slick-next1').on('click', function () {
			slick1.slick('slickNext');
		});
		$('.slick-prev1').on('click', function () {
			slick1.slick('slickPrev');
		});
		$('#prev-area1').on('click', function () {
			slick1.slick('slickNext');
		});
		$('#next-area1').on('click', function () {
			slick1.slick('slickPrev');
		});
		$('#s1-tab3-slide').on('afterChange', function (event, slick, currentSlide) {
			var totalPage = slick.slideCount;
			var currentPage = slick.currentSlide + 1;
			var setTag = currentPage + ' / ' + totalPage;
			$("#pageNo1").text(setTag);
			$("#title1").text(monArr[slick.currentSlide]);
		});

		//s12
		var slick12 = $('#s12-tab1-slide').slick({
			arrows: false,
			appendArrows: $('#arrows1')
		});
		var cp12 = $('#s12-tab1-slide').slick('getCurrent') + 1;
		var tp12 = $('#s12-tab1-slide').slick('getDotCount') + 1;

		$('#s12-pageNo').text(cp12 + ' / ' + tp12);
		$('#s12-next').on('click', function () {
			slick12.slick('slickNext');
		});
		$('#s12-prev').on('click', function () {
			slick12.slick('slickPrev');
		});
		$('#s12-prev-area').on('click', function () {
			slick12.slick('slickNext');
		});
		$('#s12-next-area').on('click', function () {
			slick12.slick('slickPrev');
		});
		$('#s12-tab1-slide').on('afterChange', function (event, slick, currentSlide) {
			var totalPage = slick.slideCount;
			var currentPage = slick.currentSlide + 1;
			var setTag = currentPage + ' / ' + totalPage;
			$("#s12-pageNo").text(setTag);
		});
	});
</script>