// font //
$font-size-normal: 1.4rem;
$font-size-large: 3rem;
$font-size-small: 1rem;

// color //
$white-color: #fff;
$black-color: #000;
$gold-color: #d4b67a;
$bg-color: #1e1e1e;
$divider-color-one: #a41717;
$divider-color-two: #ff4430;

// url //
$url-section-one-bg: url('../images/section-one-bg.jpg');
$url-section-two-bg-one: url('../images/section-two-bg-one.jpg');
$url-section-two-bg-two: url('../images/section-two-bg-two.jpg');
$url-section-three-bg: url('../images/section-three-bg.jpg');
$url-section-four-bg: url('../images/section-four-bg.png');
$url-section-five-bg: url('../images/section-five-bg.jpg');
$url-section-six-bg: url('../images/section-six-bg.jpg');
$url-section-seven-bg: url('../images/section-seven-bg.jpg');

$url-section-four-border: url('../images/section-four-carousel-divider.png');

$url-blackshot-logo: url('../images/blackshot-logo.png');
$url-weapon-bg-regular: url('../images/weapon-bg-regular.jpg');
$url-weapon-bg-goldbox: url('../images/weapon-bg-goldbox.jpg');

// font-family //
$default-font: "proxima-nova", verdana, sans-serif;
$accent-font: "proxima-nova-alt-ext-cond", verdana, sans-serif;
$block-font: 'SofiaRoughBlackThree-Regular';
$cursive-font: 'ShepiaScript-Regular';