@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700i|Roboto:400,700');
// color //
$white-color: #fff;
$black-color: #000;
$text-black: #3b3d40;
$black: #000;
$white: #fff;
$bg-color: #4A4A4A;
$color1: #F4174F;
$color2: #FDBB01;
$orange:#f6a623;
$green:#5eb400;
$gold: #ffc756;
$abbey: #3b3d40;
$event-color:$white-color;

$bright-yellow-color: #fadd01;
$dark-yellow-color: #ffa400;

// url //
$url-section-one-bg: url(../../images/top-banner/top-banner-bg.jpg);
$url-section-two-bg: url(../../images/sec1-bg.jpg);
$url-section-three-bg: url(../../images/sec2-bg.jpg);
$url-section-five-bg: url(../../images/sec3-bg.jpg);

// font-family //
$default-font: 'Roboto', sans-serif;
$accent-font: 'Roboto Condensed', sans-serif;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;

// font-weight //
$font-semi-bold: 500;
$font-bold: 700;
$font-extrabold: 900;



