// color //
$white-color: #fff;
$black-color: #000;
$primary-color: #b0ac5f; //dark green
$secondary-color: #face70; //dark yellow
$section-four-color: #b3ce4e; // bright green
$section-six-color: #897b61; // brown
$section-seven-color: #f5b400; // bright yellow
$section-eight-color: #f87e4c; // bright orange
$section-nine-color: #e05922; // orange red
$section-ten-color: #664a61; // purple
$section-eleven-color: #ffc600; // brighter yellow

$bg-color: #1e1e1e;

// url //
$url-section-one-bg: url(../images/section-one-bg.jpg);
$url-section-two-bg: url(../images/section-two-bg.png);
$url-section-three-bg: url(../images/section-three-bg.png);
$url-section-three-day-5-bg: url(../images/section-three-day-5-bg.jpg);
$url-section-three-day-10-bg: url(../images/section-three-day-10-bg.jpg);
$url-section-three-day-15-bg: url(../images/section-three-day-15-bg.jpg);
$url-section-three-day-20-bg: url(../images/section-three-day-20-bg.jpg);
$url-section-four-bg: url(../images/section-four-bg.png);
$url-section-five-bg: url(../images/section-five-bg.png);
$url-section-six-bg: url(../images/section-six-bg.png);
$url-section-seven-bg: url(../images/section-seven-bg.jpg);
$url-section-eight-bg: url(../images/section-eight-bg.png);
$url-section-nine-bg: url(../images/section-nine-bg.jpg);
$url-section-nine-carousel-bg: url(../images/section-nine-carousel-bg.jpg);
$url-section-ten-bg: url(../images/section-ten-bg.jpg);
$url-section-eleven-bg: url(../images/section-eleven-bg.jpg);

$url-blackshot-logo: url(../images/blackshot-logo.png);

// font-family //
$default-font: "proxima-nova", verdana, sans-serif;
$accent-font: "proxima-nova-alt-ext-cond", verdana, sans-serif;