// color //
$white-color: #fff;
$black-color: #000;
$bg-color: #1e1e1e;

$bright-yellow-color: #fadd01;
$dark-yellow-color: #ffa400;

// url //
$url-section-two-bg: url(../images/section-two-bg.jpg);
$url-section-three-bg: url(../images/section-three-bg.jpg);
$url-section-five-bg: url(../images/section-five-bg.jpg);

// font-family //
$default-font: "proxima-nova", verdana, sans-serif;
$accent-font: "proxima-nova-alt-ext-cond", verdana, sans-serif;

// font-weight //
$font-semi-bold: 500;
$font-bold: 700;
$font-extrabold: 900;