@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Open+Sans:300,400,600,700,800|Rajdhani:300,400,500,600,700|Saira:300,400,500,600,700");
/* line 4, ../../../app/assets/styles/scss/_global.scss */
.container {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 10, ../../../app/assets/styles/scss/_global.scss */
.tooltip-inner {
  background-color: #fadd01;
  color: #000;
  font-size: 1.4rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  border-radius: 0;
}

/* line 19, ../../../app/assets/styles/scss/_global.scss */
.tooltip.left .tooltip-arrow {
  border-left-color: #fadd01;
}

/* line 23, ../../../app/assets/styles/scss/_global.scss */
.white {
  color: #fff;
}

/* line 27, ../../../app/assets/styles/scss/_global.scss */
.black {
  color: #000;
}

/* line 31, ../../../app/assets/styles/scss/_global.scss */
.bright-yellow-color {
  color: #fadd01;
}

/* line 35, ../../../app/assets/styles/scss/_global.scss */
.extrabold {
  font-weight: 900;
}

/* line 39, ../../../app/assets/styles/scss/_global.scss */
.bold {
  font-weight: 700;
}

/* line 43, ../../../app/assets/styles/scss/_global.scss */
.semi-bold {
  font-weight: 600;
}

/* line 47, ../../../app/assets/styles/scss/_global.scss */
.strike {
  text-decoration: line-through;
  color: #999;
}

/* line 52, ../../../app/assets/styles/scss/_global.scss */
.no-strike {
  text-decoration: none;
}

/* line 56, ../../../app/assets/styles/scss/_global.scss */
.accent-font {
  font-family: "Roboto Condensed", sans-serif;
}

/* line 60, ../../../app/assets/styles/scss/_global.scss */
.text-shadow {
  text-shadow: 3px 3px 15px #000;
}

/* line 64, ../../../app/assets/styles/scss/_global.scss */
.drop-shadow {
  box-shadow: 5px 5px 10px #555;
}

/* line 68, ../../../app/assets/styles/scss/_global.scss */
.pad-bot-70 {
  padding-bottom: 70px;
}

/* line 73, ../../../app/assets/styles/scss/_global.scss */
.flex-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

/* line 79, ../../../app/assets/styles/scss/_global.scss */
.flex-center-start {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
}

/* line 85, ../../../app/assets/styles/scss/_global.scss */
.table-center {
  margin: 0 auto;
  display: table;
}

/* line 91, ../../../app/assets/styles/scss/_global.scss */
.flex-direction {
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 97, ../../../app/assets/styles/scss/_global.scss */
.flex-direction-row {
  -ms-flex-direction: row;
  flex-direction: row;
}

/* line 103, ../../../app/assets/styles/scss/_global.scss */
.flex-align-items, .flex-default, .btn1, .btn2, .section-notice .main .language-bar .dropdown .dropdown-menu li, .footer .language-bar .dropdown .dropdown-menu li {
  -ms-flex-align: center;
  align-items: center;
}

/* line 109, ../../../app/assets/styles/scss/_global.scss */
.flex-justify {
  -ms-flex-pack: start;
  justify-content: flex-start;
}

/* line 115, ../../../app/assets/styles/scss/_global.scss */
.flex-justify-center, .flex-default, .btn1, .btn2, .section-notice .main .language-bar .dropdown .dropdown-menu li, .footer .language-bar .dropdown .dropdown-menu li {
  -ms-flex-pack: center;
  justify-content: center;
}

/* line 121, ../../../app/assets/styles/scss/_global.scss */
.flex-justify-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* line 127, ../../../app/assets/styles/scss/_global.scss */
.flex-flow-wrap {
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

/* line 134, ../../../app/assets/styles/scss/_global.scss */
.flex-container, .flex-default, .btn1, .btn2, .section-notice .main .language-bar .dropdown .dropdown-menu li, .footer .language-bar .dropdown .dropdown-menu li {
  display: -ms-flexbox;
  display: flex;
}

/* line 140, ../../../app/assets/styles/scss/_global.scss */
.flex-item {
  -ms-flex-align: center;
  align-items: center;
}

/* line 146, ../../../app/assets/styles/scss/_global.scss */
.flex-item-left {
  -ms-flex-align: start;
  align-items: flex-start;
}

/* line 151, ../../../app/assets/styles/scss/_global.scss */
.flex-item-right {
  -ms-flex-align: end;
  align-items: flex-end;
}

/* line 163, ../../../app/assets/styles/scss/_global.scss */
.container {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 169, ../../../app/assets/styles/scss/_global.scss */
.btn1 {
  width: 160px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 182, ../../../app/assets/styles/scss/_global.scss */
.btn1 span:first-child {
  font-size: 2rem;
  vertical-align: middle;
  line-height: 0;
  padding-right: 10px;
}
/* line 188, ../../../app/assets/styles/scss/_global.scss */
.btn1 span:last-child {
  font-size: 1.3rem;
}
/* line 193, ../../../app/assets/styles/scss/_global.scss */
.btn1:hover, .btn1:focus {
  background-color: #f6a623;
  border-color: #f6a623;
  color: #fff;
}

/* line 200, ../../../app/assets/styles/scss/_global.scss */
.btn2 {
  width: 271px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 20px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
  background-color: #29B06D;
  text-transform: uppercase;
}
/* line 211, ../../../app/assets/styles/scss/_global.scss */
.btn2 span {
  font-size: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 5px;
}
/* line 218, ../../../app/assets/styles/scss/_global.scss */
.btn2:hover, .btn2:focus {
  background-color: #FDBB01;
  color: #fff;
}

/* line 224, ../../../app/assets/styles/scss/_global.scss */
.color1 {
  color: #FDBB01;
}

/* line 228, ../../../app/assets/styles/scss/_global.scss */
.arrow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  background-size: cover;
}

/* line 237, ../../../app/assets/styles/scss/_global.scss */
.invisible {
  display: none;
}

/* line 239, ../../../app/assets/styles/scss/_global.scss */
.visible {
  display: block;
}

/* line 241, ../../../app/assets/styles/scss/_global.scss */
.text-bold {
  font-weight: bold;
}

@font-face {
  font-family: 'Glyphter';
  src: url("https://stactic.papayapla.com/static/event/cs75/assets/styles/fonts/Glyphter.eot");
  src: url("https://stactic.papayapla.com/static/event/cs75/assets/styles/fonts/Glyphter.eot?#iefix") format("embedded-opentype"), url("https://stactic.papayapla.com/static/event/cs75/assets/styles/fonts/Glyphter.woff") format("woff"), url("https://stactic.papayapla.com/static/event/cs75/assets/styles/fonts/Glyphter.ttf") format("truetype"), url("https://stactic.papayapla.com/static/event/cs75/assets/styles/fonts/Glyphter.svg#Glyphter") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 13, ../../../app/assets/styles/scss/_fonts.scss */
[class*='icon-']:before {
  font-family: 'Glyphter';
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 23, ../../../app/assets/styles/scss/_fonts.scss */
.icon-locked:before {
  content: '\0041';
}

/* line 24, ../../../app/assets/styles/scss/_fonts.scss */
.icon-blackshot:before {
  content: '\0042';
}

/* line 25, ../../../app/assets/styles/scss/_fonts.scss */
.icon-calendar:before {
  content: '\0043';
}

/* line 26, ../../../app/assets/styles/scss/_fonts.scss */
.icon-aim:before {
  content: '\0044';
}

/* line 27, ../../../app/assets/styles/scss/_fonts.scss */
.icon-arrow-right:before {
  content: '\0045';
}

/* line 28, ../../../app/assets/styles/scss/_fonts.scss */
.icon-arrow-left:before {
  content: '\0046';
}

/* line 29, ../../../app/assets/styles/scss/_fonts.scss */
.icon-new-page:before {
  content: '\0047';
}

/* line 30, ../../../app/assets/styles/scss/_fonts.scss */
.icon-snow:before {
  content: '\0048';
}

/* line 31, ../../../app/assets/styles/scss/_fonts.scss */
.icon-dot:before {
  content: '\0049';
}

/* line 32, ../../../app/assets/styles/scss/_fonts.scss */
.icon-clock:before {
  content: '\004a';
}

/* line 33, ../../../app/assets/styles/scss/_fonts.scss */
.icon-skull:before {
  content: '\004b';
}

/* line 34, ../../../app/assets/styles/scss/_fonts.scss */
.icon-completed:before {
  content: '\004c';
}

/* line 35, ../../../app/assets/styles/scss/_fonts.scss */
.icon-fail:before {
  content: '\004d';
}

/* line 36, ../../../app/assets/styles/scss/_fonts.scss */
.icon-logout:before {
  content: '\004f';
}

/* line 37, ../../../app/assets/styles/scss/_fonts.scss */
.icon-papaya:before {
  content: '\0050';
}

/* line 38, ../../../app/assets/styles/scss/_fonts.scss */
.icon-hashtag:before {
  content: '\0052';
}

/* line 39, ../../../app/assets/styles/scss/_fonts.scss */
.icon-stats:before {
  content: '\0053';
}

/* line 40, ../../../app/assets/styles/scss/_fonts.scss */
.icon-arrowlong:before {
  content: '\0054';
}

/* line 41, ../../../app/assets/styles/scss/_fonts.scss */
.icon-phoenix:before {
  content: '\0055';
}

/* line 42, ../../../app/assets/styles/scss/_fonts.scss */
.icon-show-more:before {
  content: '\0057';
}

/* line 43, ../../../app/assets/styles/scss/_fonts.scss */
.icon-show-less:before {
  content: '\0058';
}

/* line 44, ../../../app/assets/styles/scss/_fonts.scss */
.icon-meme:before {
  content: '\006d';
}

/* line 45, ../../../app/assets/styles/scss/_fonts.scss */
.icon-180view:before {
  content: '\0070';
}

/* line 46, ../../../app/assets/styles/scss/_fonts.scss */
.icon-return:before {
  content: '\0072';
}

/* line 47, ../../../app/assets/styles/scss/_fonts.scss */
.icon-time:before {
  content: '\0074';
}

/* line 48, ../../../app/assets/styles/scss/_fonts.scss */
.icon-close:before {
  content: '\0078';
}

/* line 49, ../../../app/assets/styles/scss/_fonts.scss */
.icon-morebsc:before {
  content: '\0024';
}

/* line 50, ../../../app/assets/styles/scss/_fonts.scss */
.icon-plus:before {
  content: '\002b';
}

/* line 51, ../../../app/assets/styles/scss/_fonts.scss */
.icon-check:before {
  content: '\005e';
}

/* line 52, ../../../app/assets/styles/scss/_fonts.scss */
.icon-arrow1:before {
  content: '\007b';
}

/* line 53, ../../../app/assets/styles/scss/_fonts.scss */
.icon-arrow2:before {
  content: '\007d';
}

/* line 54, ../../../app/assets/styles/scss/_fonts.scss */
.icon-attention:before {
  content: '\007e';
}

@font-face {
  font-family: 'cs75-icon-text';
  src: url("https://stactic.papayapla.com/static/event/cs75/assets/styles/fonts/lt_festival.eot");
  src: url("https://stactic.papayapla.com/static/event/cs75/assets/styles/fonts/lt_festival.eot?#iefix") format("embedded-opentype"), url("https://stactic.papayapla.com/static/event/cs75/assets/styles/fonts/lt_festival.woff2") format("woff2"), url("https://stactic.papayapla.com/static/event/cs75/assets/styles/fonts/lt_festival.woff") format("woff"), url("https://stactic.papayapla.com/static/event/cs75/assets/styles/fonts/lt_festival.ttf") format("truetype"), url("https://stactic.papayapla.com/static/event/cs75/assets/styles/fonts/lt_festival.svg#lt_festival") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 69, ../../../app/assets/styles/scss/_fonts.scss */
[class*='cs75-icon-']:before {
  font-family: "cs75-icon-text";
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 79, ../../../app/assets/styles/scss/_fonts.scss */
.cs75-icon-spin1:before {
  content: '\e830';
}

/* line 83, ../../../app/assets/styles/scss/_fonts.scss */
.cs75-icon-shield:before {
  content: '\f132';
  font-size: 40px;
}

/* line 88, ../../../app/assets/styles/scss/_fonts.scss */
.cs75-icon-heart:before {
  content: '\e800';
}

/* line 92, ../../../app/assets/styles/scss/_fonts.scss */
.cs75-icon-zone:before {
  content: '\e801';
  font-size: 42px;
  margin-top: 8px;
}

/* line 98, ../../../app/assets/styles/scss/_fonts.scss */
.cs75-icon-kill:before {
  content: '\e802';
  font-size: 50px;
  margin-top: 10px;
  margin-left: -6px;
  margin-right: -5px;
}

/* line 106, ../../../app/assets/styles/scss/_fonts.scss */
.cs75-icon-crown:before {
  content: '\e844';
  font-size: 38px;
  margin-top: 8px;
}

@font-face {
  font-family: 'cs79-icon-text';
  src: url("https://stactic.papayapla.com/static/event/blackshot/cs79/assets/styles/fonts/cs79_webfont.eot");
  src: url("https://stactic.papayapla.com/static/event/blackshot/cs79/assets/styles/fonts/cs79_webfont.eot?#iefix") format("embedded-opentype"), url("https://stactic.papayapla.com/static/event/blackshot/cs79/assets/styles/fonts/cs79_webfont.woff2") format("woff2"), url("https://stactic.papayapla.com/static/event/blackshot/cs79/assets/styles/fonts/cs79_webfont.woff") format("woff"), url("https://stactic.papayapla.com/static/event/blackshot/cs79/assets/styles/fonts/cs79_webfont.ttf") format("truetype"), url("https://stactic.papayapla.com/static/event/blackshot/cs79/assets/styles/fonts/cs79_webfont.svg#cs79_webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bs-sea-official';
  src: url("https://static.papayaplay.com/static/assets/styles/fonts/bs-sea-official.eot");
  src: url("https://static.papayaplay.com/static/assets/styles/fonts/bs-sea-official.eot?#iefix") format("embedded-opentype"), url("https://static.papayaplay.com/static/assets/styles/fonts/bs-sea-official.woff") format("woff"), url("https://static.papayaplay.com/static/assets/styles/fonts/bs-sea-official.ttf") format("truetype"), url("https://static.papayaplay.com/static/assets/styles/fonts/bs-sea-official.svg#bs-sea-official") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 136, ../../../app/assets/styles/scss/_fonts.scss */
[class*='cs79-icon-']:before {
  font-family: "cs79-icon-text";
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 146, ../../../app/assets/styles/scss/_fonts.scss */
.cs79-icon-arrow1:before {
  content: '\e800';
}

/* line 147, ../../../app/assets/styles/scss/_fonts.scss */
.cs79-icon-arrow2:before {
  content: '\e80a';
}

/* line 148, ../../../app/assets/styles/scss/_fonts.scss */
.cs79-icon-calendar:before {
  content: '\e801';
}

/* line 149, ../../../app/assets/styles/scss/_fonts.scss */
.cs79-icon-check:before {
  content: '\e802';
}

/* line 150, ../../../app/assets/styles/scss/_fonts.scss */
.cs79-icon-clock:before {
  content: '\e803';
}

/* line 151, ../../../app/assets/styles/scss/_fonts.scss */
.cs79-icon-lock:before {
  content: '\e805';
}

/* line 152, ../../../app/assets/styles/scss/_fonts.scss */
.cs79-icon-papaya:before {
  content: '\e806';
}

/* line 153, ../../../app/assets/styles/scss/_fonts.scss */
.cs79-icon-star:before {
  content: '\e807';
}

/* line 154, ../../../app/assets/styles/scss/_fonts.scss */
.cs79-icon-cross:before {
  content: '\e808';
}

/* line 155, ../../../app/assets/styles/scss/_fonts.scss */
.cs79-icon-dot:before {
  content: '\e809';
}

/* line 156, ../../../app/assets/styles/scss/_fonts.scss */
.cs79-icon-incomplete:before {
  content: '\e80b';
}

/* line 157, ../../../app/assets/styles/scss/_fonts.scss */
.cs79-icon-completed:before {
  content: '\e80c';
}

/* line 158, ../../../app/assets/styles/scss/_fonts.scss */
.cs79-icon-open:before {
  content: '\e80d';
}

/* line 159, ../../../app/assets/styles/scss/_fonts.scss */
.cs79-icon-close:before {
  content: '\e80e';
}

/* line 161, ../../../app/assets/styles/scss/_fonts.scss */
[class*='bs-social-icon-']:before {
  display: inline-block;
  font-family: 'bs-sea-official';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

/* line 173, ../../../app/assets/styles/scss/_fonts.scss */
.bs-social-icon-discord:before {
  content: '\0045';
}

/* line 175, ../../../app/assets/styles/scss/_fonts.scss */
.bs-social-icon-facebook:before {
  content: '\0046';
}

/* line 177, ../../../app/assets/styles/scss/_fonts.scss */
.bs-social-icon-youtube:before {
  content: '\004c';
}

/* line 6, ../../../app/assets/styles/main.scss */
.tooltip.bottom .tooltip-inner {
  background-color: #fff;
  color: #000;
  font-weight: bold;
}
/* line 11, ../../../app/assets/styles/main.scss */
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #fff;
}

/* line 18, ../../../app/assets/styles/main.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* line 62, ../../../app/assets/styles/main.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  color: #676767;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/* line 73, ../../../app/assets/styles/main.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 77, ../../../app/assets/styles/main.scss */
h1 {
  font-family: "Roboto Condensed", sans-serif;
  color: #BC1D1B;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 2px;
}

/* line 86, ../../../app/assets/styles/main.scss */
h2 {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 60px;
  font-weight: bold;
  line-height: 61px;
  font-style: italic;
  text-transform: uppercase;
}

/* line 92, ../../../app/assets/styles/main.scss */
p, a {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}

/* line 96, ../../../app/assets/styles/main.scss */
h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: #D5B77B;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  font-style: italic;
}

/* line 102, ../../../app/assets/styles/main.scss */
h4 {
  font-family: "Roboto Condensed", sans-serif;
  color: #D5B77B;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  font-style: italic;
}

/* line 108, ../../../app/assets/styles/main.scss */
h5 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 20px;
  font-style: italic;
  text-transform: uppercase;
  line-height: 24px;
}

/* line 118, ../../../app/assets/styles/main.scss */
a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
/* line 123, ../../../app/assets/styles/main.scss */
a:hover, a:focus {
  text-decoration: none;
  color: #f6a623;
}

/* line 129, ../../../app/assets/styles/main.scss */
ul {
  list-style: none;
  padding: 0;
}

/* line 134, ../../../app/assets/styles/main.scss */
button:focus {
  outline: 0;
}

/* line 138, ../../../app/assets/styles/main.scss */
.section-notice {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
/* line 144, ../../../app/assets/styles/main.scss */
.section-notice .main {
  width: 960px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}
/* line 148, ../../../app/assets/styles/main.scss */
.section-notice .main .cont--logo {
  margin-top: 60px;
  margin-bottom: 25px;
}
/* line 151, ../../../app/assets/styles/main.scss */
.section-notice .main .cont--logo img {
  height: 188.47px;
  width: 189.95px;
}
/* line 155, ../../../app/assets/styles/main.scss */
.section-notice .main .cont--date {
  height: 424px;
  width: 820px;
  background-color: rgba(0, 0, 0, 0.7);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}
/* line 161, ../../../app/assets/styles/main.scss */
.section-notice .main .cont--date h1 {
  width: 70%;
  letter-spacing: 5px;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  color: #F1D39A;
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
}
/* line 167, ../../../app/assets/styles/main.scss */
.section-notice .main .cont--date p, .section-notice .main .cont--date a {
  margin-top: 20px;
  width: 65%;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  color: #D8D8D8;
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
}
/* line 175, ../../../app/assets/styles/main.scss */
.section-notice .main .cont--date .cont--times {
  margin-top: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
/* line 178, ../../../app/assets/styles/main.scss */
.section-notice .main .cont--date .cont--times li {
  width: 82px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}
/* line 182, ../../../app/assets/styles/main.scss */
.section-notice .main .cont--date .cont--times li .box {
  padding-top: 2px;
  height: 73px;
  width: 73px;
  border: 1px solid #484848;
  border-radius: 10px;
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: "Rajdhani", sans-serif;
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
  line-height: 21px;
}
/* line 192, ../../../app/assets/styles/main.scss */
.section-notice .main .cont--date .cont--times li .desc {
  width: 80px;
  margin-top: 10px;
  padding-left: 7px;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
/* line 204, ../../../app/assets/styles/main.scss */
.section-notice .main .language-bar {
  margin-top: 100px;
  margin-bottom: 40px;
  cursor: pointer;
}
/* line 208, ../../../app/assets/styles/main.scss */
.section-notice .main .language-bar .dropdown {
  width: 160px;
}
/* line 210, ../../../app/assets/styles/main.scss */
.section-notice .main .language-bar .dropdown .lang-box {
  height: 40px;
  width: 160px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
/* line 216, ../../../app/assets/styles/main.scss */
.section-notice .main .language-bar .dropdown .lang-box .flag {
  padding-right: 20px;
}
/* line 219, ../../../app/assets/styles/main.scss */
.section-notice .main .language-bar .dropdown .lang-box .text {
  text-transform: uppercase;
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
/* line 226, ../../../app/assets/styles/main.scss */
.section-notice .main .language-bar .dropdown .lang-box i {
  padding-left: 20px;
}
/* line 230, ../../../app/assets/styles/main.scss */
.section-notice .main .language-bar .dropdown .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.9);
  border: none;
  border-radius: 0;
  top: 35px;
}
/* line 235, ../../../app/assets/styles/main.scss */
.section-notice .main .language-bar .dropdown .dropdown-menu li {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5rem;
  color: white;
  padding-top: 5px;
  padding-right: 0;
  padding-left: 21px;
  padding-bottom: 5px;
  transition: all 0.3s;
  cursor: pointer;
}
/* line 247, ../../../app/assets/styles/main.scss */
.section-notice .main .language-bar .dropdown .dropdown-menu li span:first-child {
  width: 20%;
}
/* line 250, ../../../app/assets/styles/main.scss */
.section-notice .main .language-bar .dropdown .dropdown-menu li span:last-child {
  text-transform: uppercase;
  width: 80%;
  padding-left: 9px;
}
/* line 256, ../../../app/assets/styles/main.scss */
.section-notice .main .language-bar .dropdown .dropdown-menu li:hover, .section-notice .main .language-bar .dropdown .dropdown-menu li:focus {
  background-color: #f6a623;
}
/* line 264, ../../../app/assets/styles/main.scss */
.section-notice .main .cont--footer {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 960px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
/* line 269, ../../../app/assets/styles/main.scss */
.section-notice .main .cont--footer .item1 {
  padding-top: 4px;
}
/* line 272, ../../../app/assets/styles/main.scss */
.section-notice .main .cont--footer .item2 {
  padding-top: 10px;
}
/* line 274, ../../../app/assets/styles/main.scss */
.section-notice .main .cont--footer .item2 .copyright {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 18px;
  color: #DBDBDB;
  font-size: 15px;
}

/* line 287, ../../../app/assets/styles/main.scss */
.section-info {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: black;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}
/* line 294, ../../../app/assets/styles/main.scss */
.section-info .btn-top {
  margin-top: 40px;
  height: 300px;
  width: 300px;
}
/* line 299, ../../../app/assets/styles/main.scss */
.section-info .content-top {
  margin-top: 70px;
  width: 820px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 307, ../../../app/assets/styles/main.scss */
.section-info .content-top .title {
  margin-top: 40px;
  color: #FFFFFF;
  font-family: "Rajdhani", sans-serif;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 600;
}
/* line 317, ../../../app/assets/styles/main.scss */
.section-info .content-top .subtitle {
  margin-top: 20px;
  margin-bottom: 25px;
  width: 80%;
  color: #DFB46F;
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align: center;
}
/* line 330, ../../../app/assets/styles/main.scss */
.section-info .content-top .desc {
  width: 85%;
  color: #CFCFCF;
  font-family: "Saira", sans-serif;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  font-weight: 200;
}
/* line 340, ../../../app/assets/styles/main.scss */
.section-info .content-top .mid--img {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 344, ../../../app/assets/styles/main.scss */
.section-info .content-top .cont--textbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}
/* line 347, ../../../app/assets/styles/main.scss */
.section-info .content-top .cont--textbox .box__title {
  margin-top: 20px;
  margin-bottom: 15px;
  color: #FFFFFF;
  font-family: "Rajdhani", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}
/* line 358, ../../../app/assets/styles/main.scss */
.section-info .content-top .cont--textbox .box__line {
  height: 4px;
  width: 50px;
  background-color: #DFB46F;
}
/* line 363, ../../../app/assets/styles/main.scss */
.section-info .content-top .cont--textbox .box__desc {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 79%;
  color: #CFCFCF;
  font-family: "Saira", sans-serif;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
}
/* line 375, ../../../app/assets/styles/main.scss */
.section-info .content-bt {
  margin-top: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}
/* line 379, ../../../app/assets/styles/main.scss */
.section-info .content-bt .cont--date {
  width: 820px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}
/* line 383, ../../../app/assets/styles/main.scss */
.section-info .content-bt .cont--date .cont--times {
  margin-top: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
/* line 386, ../../../app/assets/styles/main.scss */
.section-info .content-bt .cont--date .cont--times li {
  width: 82px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}
/* line 390, ../../../app/assets/styles/main.scss */
.section-info .content-bt .cont--date .cont--times li .box {
  padding-top: 2px;
  height: 73px;
  width: 73px;
  border: 1px solid #484848;
  border-radius: 10px;
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: "Rajdhani", sans-serif;
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
  line-height: 21px;
}
/* line 400, ../../../app/assets/styles/main.scss */
.section-info .content-bt .cont--date .cont--times li .desc {
  width: 80px;
  margin-top: 10px;
  padding-left: 7px;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
/* line 412, ../../../app/assets/styles/main.scss */
.section-info .content-bt .mid-title {
  width: 95%;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #DFB46F;
  font-family: "Rajdhani", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 49px;
  text-align: center;
  letter-spacing: 4px;
}
/* line 424, ../../../app/assets/styles/main.scss */
.section-info .content-bt .list--social-icons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
/* line 427, ../../../app/assets/styles/main.scss */
.section-info .content-bt .list--social-icons li a {
  margin: 15px;
  color: white;
  font-size: 28px;
}
/* line 435, ../../../app/assets/styles/main.scss */
.section-info .content-bt .list--social-icons li:nth-child(2) {
  padding-top: 2px;
}

/* line 445, ../../../app/assets/styles/main.scss */
.footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}
/* line 448, ../../../app/assets/styles/main.scss */
.footer .foot--line {
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  height: 2px;
  width: 100%;
  border: 1px solid #DFB46F;
}
/* line 456, ../../../app/assets/styles/main.scss */
.footer .language-bar {
  margin-bottom: 20px;
  cursor: pointer;
}
/* line 459, ../../../app/assets/styles/main.scss */
.footer .language-bar .dropdown {
  width: 160px;
}
/* line 461, ../../../app/assets/styles/main.scss */
.footer .language-bar .dropdown .lang-box {
  height: 40px;
  width: 160px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
/* line 467, ../../../app/assets/styles/main.scss */
.footer .language-bar .dropdown .lang-box .flag {
  padding-right: 20px;
}
/* line 470, ../../../app/assets/styles/main.scss */
.footer .language-bar .dropdown .lang-box .text {
  text-transform: uppercase;
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
/* line 477, ../../../app/assets/styles/main.scss */
.footer .language-bar .dropdown .lang-box i {
  padding-left: 20px;
}
/* line 481, ../../../app/assets/styles/main.scss */
.footer .language-bar .dropdown .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.9);
  border: none;
  border-radius: 0;
  top: 35px;
}
/* line 486, ../../../app/assets/styles/main.scss */
.footer .language-bar .dropdown .dropdown-menu li {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5rem;
  color: white;
  padding-top: 5px;
  padding-right: 0;
  padding-left: 21px;
  padding-bottom: 5px;
  transition: all 0.3s;
  cursor: pointer;
}
/* line 498, ../../../app/assets/styles/main.scss */
.footer .language-bar .dropdown .dropdown-menu li span:first-child {
  width: 20%;
}
/* line 501, ../../../app/assets/styles/main.scss */
.footer .language-bar .dropdown .dropdown-menu li span:last-child {
  text-transform: uppercase;
  width: 80%;
  padding-left: 9px;
}
/* line 507, ../../../app/assets/styles/main.scss */
.footer .language-bar .dropdown .dropdown-menu li:hover, .footer .language-bar .dropdown .dropdown-menu li:focus {
  background-color: #f6a623;
}
/* line 515, ../../../app/assets/styles/main.scss */
.footer .cont--footer {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 960px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
/* line 520, ../../../app/assets/styles/main.scss */
.footer .cont--footer .item1 {
  padding-top: 4px;
}
/* line 523, ../../../app/assets/styles/main.scss */
.footer .cont--footer .item2 {
  padding-top: 10px;
}
/* line 525, ../../../app/assets/styles/main.scss */
.footer .cont--footer .item2 .copyright {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 18px;
  color: #DBDBDB;
  font-size: 15px;
}