@import "./scss/variables";
@import "./scss/global";
@import "./scss/fonts";

// --------------  //

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display : none !important;
}

@mixin text-style($fontColor, $fontSize, $fontWeight, $fontAlign) {
  color       : $fontColor;
  font-family : $roboto-font;
  font-size   : $fontSize;
  font-weight : $fontWeight;
  text-align  : $fontAlign;
}

@mixin text-style-open($fontColor, $fontSize, $fontWeight, $fontAlign) {
  color       : $fontColor;
  font-family : $open-sans-font;
  font-size   : $fontSize;
  font-weight : $fontWeight;
  text-align  : $fontAlign;
}

@mixin sec-background-style($bgColor, $height) {
  background : $bgColor no-repeat top;
  height     : $height;
}

@mixin flex-style($hAlign, $vAlign) {
  display         : flex;
  justify-content : $hAlign;
  align-items     : $vAlign;
}

@mixin n-text-style($font,$fontColor,$fontSize,$fontWeight,$fontLine) {
  font-family : $font;
  color       : $fontColor;
  font-size   : $fontSize;
  font-weight : $fontWeight;
  line-height : $fontLine;
}

// elements //
html {
  //font-size : 10px;

}

body {
  color       : #676767;
  font-family : $roboto-font;
  font-weight : 400;
  min-width   : 960px;
  font-size   : 15px;
  [aos="fade"] {
	opacity             : 0;
	transition-property : opacity;
  }

  [aos="fade"].aos-animate {
	opacity : 1;
  }
}

// global elements //
h1, h2, h3, h4, h5, h6 {
  margin : 0;
}

h1 {
  font-family    : $roboto-font;
  color          : $white;
  font-size      : 11px;
  text-transform : uppercase;
  line-height    : 1;
  letter-spacing : 2px;
}

h2 {
  @include n-text-style($roboto-font, #D5B77B, 60px, bold, 60px);
  font-style     : italic;
  text-transform : uppercase;
}

p {
  @include n-text-style($open-sans-font, #676767, 15px, 300, 17px);
}

h3 {
  text-transform : uppercase;
  font-style     : italic;
  @include n-text-style($roboto-font, #545454, 20px, 600, 20px);
}

h4 {
  color       : $text-black;
  font-size   : 1.1rem;
  line-height : 1.5;
}

h5 {
  font-family    : $roboto-font;
  color          : $white;
  font-size      : 20px;
  font-weight    : 700;
  font-style     : italic;
  text-transform : uppercase;
}

a {
  @extend p;
  font-size       : 14px;
  text-decoration : none;
  color           : $white;
  &:hover, &:focus {
	text-decoration : none;
	color           : $orange;
  }
}

ul {
  list-style : none;
  padding    : 0;
}

button:focus { outline : 0; }

.see-btn-link {
  width           : 155px;
  display         : flex;
  justify-content : flex-start;
  align-items     : center;
  .see-btn {
	width           : 100%;
	height          : 35px;
	border          : 1px solid black;
	border-radius   : 20px;
	display         : flex;
	justify-content : center;
	align-items     : center;
	.text {
	  @include text-style(black, 14px, bold, center);
	  text-transform : uppercase;
	  padding-top    : 10px;
	}
	transition      : all 0.3s ease-out;
	&:hover {
	  background-color : #D5B77B;
	  border           : 1px solid #D5B77B;
	  .text {
		color:white;
	  }
	  transition       : all 0.3s ease-in;
	}
  }
}

.circle-text {
  cursor           : pointer;
  position         : relative;
  height           : 24px;
  width            : 24px;
  background-color : white;
  border-radius    : 50%;
  display          : flex;
  justify-content  : center;
  align-items      : center;
  @include text-style(#077432, 20px, bold, center);
  font-style       : italic;
  transition       : all .3s ease-out;
  &:hover {
	background-color : #077432;
	color            : white;
	transition       : all .3s ease-in;
  }
}

.p-green-bg {
  background-color : #077432;
  color            : white;
}

.box-index20 {
  z-index : 38 !important;
}

// ------------- //
#side-nav {
  position : fixed;
  top      : 35%;
  right    : 40px;
  z-index  : 9999;

  .home {
	width         : 20px;
	height        : 20px;
	display       : block;
	margin-bottom : 10px;
	color         : $white-color;
	font-size     : 2.7rem;
	text-shadow   : 2px 2px 3px $black-color;
  }

  .bullet {
	width            : 20px;
	height           : 20px;
	display          : block;
	border-radius    : 5px;
	margin-bottom    : 5px;
	background-color : $white-color;
	box-shadow       : 2px 2px 3px $black-color;
	&:hover {
	  background-color : $bright-yellow-color;
	}
  }
}

#section-one, #section-two, #section-three, #section-four, #section-five {
  background-color : $black;
}

.section-1 {
  background      : no-repeat top center;
  display         : flex;
  justify-content : center;
  align-items     : center;
  flex-direction  : column;
  .container {
	.top-nav {
	  @extend .flex-default;
	  justify-content : space-between;
	  height          : 170px;
	  font-size       : 0.9em;
	  .navlink, .language-bar {
		@extend .flex-default;
		height           : 40px;
		background-color : rgba(white, 0.5);
		a {
		  color       : black;
		  font-size   : 1.4rem;
		  font-weight : 500;
		  &:hover, &:focus {
			color : $orange;
		  }
		}
	  }

	  .navlink {
		width : 170px;
	  }

	  .language-bar {
		cursor : pointer;
		.dropdown {
		  width        : 160px;
		  padding-left : 30px;
		}
		.dropdown-menu {
		  background-color : rgba($white, 0.5);
		  border           : none;
		  border-radius    : 0;
		  top              : 28px;
		  li {
			@extend .flex-default;
			text-transform : capitalize;
			font-size      : 1.4rem;
			color          : $black;
			padding        : 5px 0 5px 16px;
			transition     : all 0.3s;
			cursor         : pointer;
			span {
			  &:first-child {
				width      : 20%;
				text-align : right;
			  }
			  &:last-child {
				width        : 80%;
				padding-left : 10px;
			  }
			}
			&:hover, &:focus {
			  background-color : $orange;
			}
		  }
		}
	  }
	}
	.event-logo-cont {
	  margin-top      : 0;
	  margin-bottom   : 0px;
	  display         : flex;
	  justify-content : center;
	  align-items     : center;
	  background      : no-repeat top center;
	  height          : 480px;
	}
	.part--cont {
	  width : 960px;
	  margin-bottom:20px;
	  @include flex-style(center, center);
	  .part--left__btn {
		display          : block;
		margin           : 3px;
		height           : 61px;
		width            : 50%;
		border-radius    : 10px;
		background-color : rgba(255, 255, 255, 0.95);
		text-transform   : uppercase;
		@include flex-style(center, center);
		@include n-text-style($roboto-font, #545454, 36px, bold, 42px);
		transition       : all .3s ease-out;
		&:hover {
		  color            : white;
		  background-color : #D5B77B;
		  transition       : all .3s ease-in;
		}
	  }
	  .part--right__btn {
		display          : block;
		margin           : 3px;
		height           : 61px;
		width            : 50%;
		border-radius    : 10px;
		background-color : rgba(255, 255, 255, 0.95);
		text-transform   : uppercase;
		@include flex-style(center, center);
		@include n-text-style($roboto-font, #545454, 36px, bold, 42px);
		transition       : all .3s ease-out;
		&:hover {
		  color            : white;
		  background-color : #D5B77B;
		  transition       : all .3s ease-in;
		}
	  }
	  .active {
		color            : white;
		background-color : #D5B77B;
		transition       : all .3s ease-in;
	  }
	}
	.event-exp-cont {
	  display          : flex;
	  justify-content  : center;
	  align-items      : center;
	  height           : 203px;
	  width            : 940px;
	  border-radius    : 10px;
	  background-color : rgba(255, 255, 255, 0.95);
	  padding-top      : 10px;
	  .desc {
		width       : 80%;
		text-align  : center;
		line-height : 20px;
	  }
	}
  }
  .s1--cont {
	margin-top       : 100px;
	margin-bottom    : 40px;
	padding          : 20px;
	height           : 560px;
	width            : 940px;
	border-radius    : 10px;
	background-color : rgba(255, 255, 255, 0.95);
	flex-direction   : column;
	@include flex-style(center, center);
	.s1__img {
	  margin-bottom : 20px;
	}
	.s1__title {
	  font-style : italic;
	  text-align : center;
	  @include n-text-style($roboto-font, #D5B77B, 60px, bold, 61px);
	}
	.s1__desc {
	  width      : 86%;
	  text-align : center;
	  @include n-text-style($open-sans-font, #676767, 15px, 300, 17px);
	}
  }
}

.section-2 {
  background     : no-repeat top center;
  width          : 100%;
  padding-top    : 100px;
  padding-bottom : 40px;
  @include flex-style(center, center);
  flex-direction : column;
  .s2--cont__texts {
	margin-bottom : 20px;
	width         : 940px;
	.texts__subtitle {
	  text-align : center;
	}
	.texts__title {
	  font-style : italic;
	  text-align : center;
	  @include n-text-style($roboto-font, #D5B77B, 60px, bold, 60px);
	}
	.texts--textbox {
	  padding          : 20px;
	  width            : 100%;
	  border-radius    : 10px;
	  background-color : rgba(255, 255, 255, 0.95);
	  @include flex-style(center, center);
	  .textbox__desc {
		width      : 72%;
		text-align : center;
		@include n-text-style($open-sans-font, #676767, 15px, 300, 20px);
	  }
	}
  }
  .s2--cont__maps {
	@include flex-style(center, center);
	.maps--li {
	  margin         : 4px;
	  flex-direction : column;
	  @include flex-style(center, center);
	  .maps--slider {
		height : 230px;
		width  : 310px;
	  }
	  .maps__title {
		width            : 100%;
		display          : block;
		background-color : $white;
		padding          : 10px;
		text-align       : center;
		font-style       : italic;
		@include n-text-style($roboto-font, #D5B77B, 20px, 500, 24px);
	  }
	}
  }
}

.section-3 {
  background     : no-repeat top center;
  padding-top    : 60px;
  padding-bottom : 80px;
  .container {
	flex-direction : column;
	@include flex-style(center, center);
	.s4-title-wrap {
	  flex-direction : column;
	  @include flex-style(center, center);
	  h3 {
	  }
	  h2 {
		padding-bottom : 30px;
	  }
	  p {
		width          : 84%;
		text-align     : center;
		padding-bottom : 40px;
	  }
	}
	.map-cont {
	  @include flex-style(center, center);
	  .map-left {
		position : relative;
		width    : 466px;
		height   : 515px;
		.pageNoWrap {
		  z-index          : 30;
		  position         : absolute;
		  background-color : rgba(255, 255, 255, 0.5);
		  border-radius    : 10px;
		  height           : 20px;
		  width            : 40px;
		  display          : flex;
		  justify-content  : center;
		  align-items      : center;
		  margin-left      : 400px;
		  margin-top       : 15px;
		  p {
			padding-left   : 4px;
			padding-top    : 1px;
			height         : 8px;
			color          : black;
			font-family    : $roboto-font;
			font-size      : 11px;
			font-weight    : 500;
			letter-spacing : 2px;
		  }
		}
		.slick-dots {
		  position        : relative;
		  display         : flex;
		  justify-content : center;
		  align-items     : center;
		  margin-top      : -30px;

		  .dot {
			display          : block;
			width            : 10px;
			height           : 10px;
			background-color : rgba(255, 255, 255, 0.6);
			border-radius    : 100%;
			margin-right     : 5px;

			&:hover, &:focus {
			  background-color : $white;
			}
		  }

		  .slick-active {
			.dot {
			  background-color : $white;
			}
		  }
		}
		.slider-wrap {
		  .slick-arrow {
			position  : absolute;
			top       : 50%;
			z-index   : 2;
			cursor    : pointer;
			font-size : 25px;
			color     : rgba(255, 255, 255, 0.6);
			&.icon-arrow1 {
			  left : 10px;
			}
			&.icon-arrow2 {
			  right : 10px;
			}
			&:hover, &:focus {
			  color : $white;
			}
		  }
		}
	  }
	  .map-right {
		padding-left     : 30px;
		width            : 460px;
		height           : 515px;
		background-color : rgba(255, 255, 255, 0.9);
		flex-direction   : column;
		@include flex-style(center, center);
		.map__title {
		  font-style : italic;
		  @include n-text-style($roboto-font, #D5B77B, 20px, 500, 24px);
		}
		.blueprint {
		  width             : 441px;
		  height            : 331px;
		  background-repeat : no-repeat;
		  position          : relative;

		  .point1, .point2 {
			position : absolute;
		  }

		  .point {
			position : relative;
		  }

		  .tb {
			position        : absolute;
			background-size : cover;
			top             : -205px;
			left            : -102px;
			right           : 0;
			width           : 230px;
			height          : 170px;
			border          : 5px solid $white;
			z-index         : 40;
			&:after {
			  content      : '';
			  display      : block;
			  width        : 0;
			  height       : 0;
			  margin       : 0 auto;
			  border-left  : 10px solid transparent;
			  border-right : 10px solid transparent;
			  border-top   : 10px solid $white;
			  position     : absolute;
			  bottom       : -15px;
			  left         : 0;
			  right        : 0;
			}
		  }

		  .point1 {
			top  : 150px;
			left : 40px;
		  }

		  .point2 {
			bottom : 150px;
			right  : 80px;
		  }

		  .pulse1 {
			width               : 45px;
			height              : 45px;
			position            : absolute;
			left                : -10px;
			top                 : -10px;
			display             : inline-block;
			border              : 1px solid #1474EF;
			border-radius       : 50%;
			animation           : pulse 1s infinite;
			animation-delay     : 0.2s;
			animation-direction : alternate;
		  }

		  .pulse2 {
			width               : 60px;
			height              : 60px;
			position            : absolute;
			left                : -17px;
			top                 : -17px;
			display             : inline-block;
			border              : 1px solid #1474EF;
			border-radius       : 50%;
			animation           : pulse 1s infinite;
			animation-delay     : 0.2s;
			animation-direction : alternate;
		  }

		  .pulse1-1 {
			width               : 45px;
			height              : 45px;
			position            : absolute;
			left                : -10px;
			top                 : -10px;
			display             : inline-block;
			border              : 1px solid #F62000;
			border-radius       : 50%;
			animation           : pulse 1s infinite;
			animation-delay     : 0.2s;
			animation-direction : alternate;
		  }

		  .pulse2-1 {
			width               : 60px;
			height              : 60px;
			position            : absolute;
			left                : -17px;
			top                 : -17px;
			display             : inline-block;
			border              : 1px solid #F62000;
			border-radius       : 50%;
			animation           : pulse 1s infinite;
			animation-delay     : 0.2s;
			animation-direction : alternate;
		  }

		  @keyframes pulse {
			from {
			  transform : scale(0.7);
			  opacity   : 0.5;
			}
			to {
			  transform : scale(1);
			  opacity   : 1;
			}
		  }
		}
	  }
	}
  }
}

.silver {
  background-color : #BDBDBD;
}

.gold {
  background-color : #FDD806;
}

.blonze {
  background-color : #E36736;
}

.section-4 {
  background     : no-repeat top center;
  width          : 100%;
  flex-direction : column;
  @include flex-style(center, center);
  .s4--cont__texts {
	width          : 940px;
	flex-direction : column;
	@include flex-style(center, center);
	img {
	  margin-top    : 30px;
	  margin-bottom : 30px;
	}
	.texts__subtitle {
	  @include n-text-style($roboto-font, #676767, 20px, 500, 24px);
	}
	.texts__title {
	  margin-bottom : 30px;
	  @include n-text-style($roboto-font, #D5B77B, 60px, 600, 61px);
	}
	.texts__desc {
	  width      : 68%;
	  text-align : center;
	  @include n-text-style($open-sans-font, #676767, 15px, 500, 20px);
	}
  }
  .s4--ul {
	margin-top : 40px;
	height     : 720px;
	@include flex-style(center, center);
	.s4--li {
	  margin           : 10px;
	  width            : 310px;
	  background-color : rgba(255, 255, 255, 0.8);
	  flex-direction   : column;
	  @include flex-style(center, center);
	  &:nth-child(2) {
		margin-top : -80px;
	  }
	  .ul__img {
		width  : 100%;
		height : 300px;
	  }
	  .ul__textbox {
		width          : 100%;
		height         : 45px;
		border-radius  : 10px 10px 0px 0px;
		font-style     : italic;
		text-transform : uppercase;
		text-align     : center;
		@include n-text-style($roboto-font, black, 20px, bold, 24px);
		@include flex-style(center, center);
	  }
	  .sub--boxes {
		width          : 100%;
		height         : 320px;
		border-radius  : 0 0 10px 10px;
		flex-direction : column;
		@include flex-style(center, center);
		li {
		  &:nth-child(1) {
			margin-top     : 2px;
			margin-bottom  : 2px;
			font-style     : italic;
			text-transform : uppercase;
			@include n-text-style($roboto-font, #D5B77B, 15px, bold, 20px);
		  }
		  &:nth-child(1n+2) {
			margin-top       : 5px;
			margin-bottom    : 5px;
			box-sizing       : border-box;
			height           : 61px;
			width            : 96%;
			border           : 1px solid #F0F0F0;
			border-radius    : 5px;
			background-color : rgba(255, 255, 255, 0.6);
			font-style       : italic;
			text-align       : center;
			@include flex-style(center, center);
			@include n-text-style($roboto-font, #676767, 20px, 600, 24px);
			img {
			  width        : 21%;
			  margin-right : 15px;
			}
		  }
		}
	  }
	}
  }
  .silver {
	background-color : #BDBDBD;
  }
  .gold {
	background-color : #FDD806;
  }
  .blonze {
	background-color : #E36736;
  }
  .btn--tour {
	margin-bottom    : 40px;
	display          : block;
	height           : 60px;
	width            : 40%;
	border-radius    : 100px;
	background-color : #D5B77B;
	text-transform   : uppercase;
	transition: all .3s ease-out;
	@include flex-style(center, center);
	@include n-text-style($roboto-font, white, 20px, 600, 24px);
	&:hover{
	  color:black;
	  background-color : #BDBDBD;
	  transition: all .3s ease-in;
	}
  }
  .s4--bet-cont {
	margin-bottom : 20px;
	width         : 940px;
	@include flex-style(space-between, center);
	.bet__left {
	  width : 50%;
	  .bet__title {
	  }
	  .bet__desc {
		height         : 88px;
		width          : 98%;
		font-style     : italic;
		text-transform : uppercase;
		@include n-text-style($roboto-font, #676767, 18px, 600, 22px);
	  }
	  .btn--bet {
		display          : block;
		height           : 40px;
		width            : 40%;
		border           : 1px solid #676767;
		border-radius    : 100px;
		background-color : #676767;
		text-transform   : uppercase;
		transition: all .3s ease-out;
		@include flex-style(center, center);
		@include n-text-style($roboto-font, white, 14px, 500, 16px);
		&:hover{
		  color:white;
		  background-color : #D5B77B;
		  transition: all .3s ease-in;
		  border           : 1px solid #D5B77B;
		}
	  }
	}
	.bet_right {
	  width : 50%;
	}
  }
}

.section-5 {
  padding-top    : 60px;
  padding-bottom : 60px;
  background     : no-repeat top center;
  width          : 100%;
  @include flex-style(center, center);
  flex-direction : column;
  .s5--cont__texts {
	width          : 940px;
	@include flex-style(center, center);
	flex-direction : column;
	.texts__subtitle {
	  @include n-text-style($roboto-font, #676767, 20px, 500, 24px);
	}
	.texts__title {
	  margin-bottom : 30px;
	  @include n-text-style($roboto-font, #D5B77B, 60px, 600, 61px);
	}
	.texts__desc {
	  margin-bottom : 40px;
	  width         : 68%;
	  text-align    : center;
	  @include n-text-style($open-sans-font, #676767, 15px, 500, 20px);
	}
  }
  .s5--ul {
	@include flex-style(center, center);
	flex-wrap : wrap;
	width     : 960px;
	.s5--li {
	  margin : 5px;
	  width  : 310px;
	  .item--cont {
		background       : no-repeat center center;
		background-size  : cover;
		height           : 230px;
		width            : 100%;
		background-color : rgba(213, 183, 123, 0.6);
		flex-direction   : column;
		@include flex-style(flex-end, center);
		.item__desc {
		  height           : 44px;
		  width            : 100%;
		  background-color : rgba(255, 255, 255, 0.9);
		  font-style       : italic;
		  text-transform   : uppercase;
		  @include flex-style(center, center);
		  @include n-text-style($roboto-font, #676767, 20px, bold, 24px);
		}
	  }
	}
  }
}

.section-6 {
  @include sec-background-style(white, 450px);
  display         : flex;
  align-items     : flex-start;
  justify-content : center;
  .container {
	display         : flex;
	align-items     : center;
	justify-content : center;
	flex-direction  : column;
	margin-top      : 86px;
	h3 {
	  margin-bottom : 10px;
	}
	h2 {
	  margin-bottom : 30px;
	}
	.text-desc {
	  margin-bottom : 30px;
	  width         : 600px;
	  text-shadow   : 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
	  text-align    : center;
	}
	.see-btn-link {
	  width : 260px;
	}
  }
}

.section-6-1 {
  @include sec-background-style(white, 450px);
  display         : flex;
  align-items     : center;
  justify-content : center;

  .container {
	display         : flex;
	align-items     : center;
	justify-content : center;

	.slick-dots {
	  position        : relative;
	  display         : flex;
	  justify-content : center;
	  align-items     : center;
	  margin-top      : 10px;

	  .dot {
		display          : block;
		width            : 10px;
		height           : 10px;
		background-color : rgba(198, 198, 198, 0.5);
		border-radius    : 100%;
		margin-right     : 5px;

		&:hover, &:focus {
		  background-color : #BA893E;
		}
	  }

	  .slick-active {
		.dot {
		  background-color : #BA893E;
		}
	  }
	}

	.slider-wrap {
	  height : 288px; width : 790px;
	  .slick-arrow {
		position  : absolute;
		top       : 45%;
		z-index   : 2;
		cursor    : pointer;
		font-size : 25px;
		&.icon-arrow1 {
		  left : 0;
		}
		&.icon-arrow2 {
		  right : 0;
		}
		&:hover, &:focus {
		  color : $color2;
		}
	  }
	}
  }
}

.section-7 {
  background     : no-repeat top center;
  width          : 100%;
  padding-top    : 60px;
  padding-bottom : 60px;
  flex-direction : column;
  @include flex-style(center, center);

  .s7--cont__texts {
	width          : 940px;
	flex-direction : column;
	@include flex-style(center, center);
	.texts__subtitle {

	}
	.texts__title {
	  margin-bottom : 20px;
	}
	.texts__desc {
	  width:96%;
	  text-align: center;
	  line-height: 22px;
	  margin-bottom : 40px;
	}
  }

  .s7--tabs {
	margin-bottom : 10px;
	width         : 940px;
	@include flex-style(space-between, center);
	.s7--tab {
	  cursor           : pointer;
	  margin           : 2px;
	  height           : 40px;
	  width            : (940px / 5);
	  background-color : #676767;
	  text-transform   : uppercase;
	  text-align: center;
	  @include flex-style(center, center);
	  @include n-text-style($roboto-font, #FFFFFF, 14px, 600, 16px);
	  transition       : all .3s ease-out;
	  &:hover {
		background-color : #D5B77B;
		color            : black;
		transition       : all .3s ease-in;
	  }
	}
	.active {
	  background-color : #D5B77B;
	  color            : black;
	  transition       : all .3s ease-in;
	}
  }

  .s7--map-cont {
	height : 520px;
	width  : 940px;
	.map__bg {
	  background      : no-repeat center center;
	  background-size : cover;
	  width           : 100%;
	  height          : 100%;
	  flex-direction  : column;
	  @include flex-style(flex-end, center);
	  .bg__text {
		margin-bottom  : 40px;
		text-transform : uppercase;
		font-style     : italic;
		text-align: center;
		@include n-text-style($roboto-font, #FFFFFF, 60px, bold, 61px);
	  }
	}

  }
}

.section-8 {
  background      : $white no-repeat top;
  background-size : cover;
  position        : relative;
  overflow        : hidden;
  .container {
	width           : 940px;
	display         : flex;
	justify-content : center;
	align-items     : center;
	.cont-left {
	  width   : 60%;
	  z-index : 30;
	  h2 {
		width         : 100%;
		margin-bottom : 30px;
	  }
	  .context {
		width         : 96%;
		margin-bottom : 30px;
	  }
	  .calender-wrap {
		width            : 90%;
		border           : 1px solid #D5B77B;
		border-radius    : 5px;
		background-color : rgba(255, 255, 255, 0.6);
		display          : flex;
		justify-content  : flex-start;
		align-items      : center;
		margin-bottom    : 30px;
		padding          : 20px;

		.cal-left {
		  display         : flex;
		  justify-content : flex-start;
		  align-items     : center;
		  margin-left     : 16px;
		  margin-right    : 26px;
		  i {
			color     : #D5B77B;
			font-size : 50px;
		  }
		}
		.cal-right {
		  display         : flex;
		  justify-content : flex-start;
		  align-items     : center;
		  p {
			.text-bold {
			  font-weight    : 700;
			  text-transform : uppercase;
			}
			margin-bottom : 0;
		  }
		}
	  }
	}
	.cont-right {
	  width  : 40%;
	  height : 600px;
	  img {
		width : 851px;
	  }
	}
  }
}

footer {
  background-color : $bg-color;
  padding-top      : 20px;
  padding-bottom   : 20px;
  margin           : 0 auto;
  .container {
	width : 860px;
	.flex-container {
	  .item1 {
		padding-top : 4px;
	  }
	  .item2 {
		padding-top : 10px;
	  }
	  .item3 {
	  }
	}
  }
  .copyright {
	color     : #DCDCDC;
	font-size : 15px;
  }
}