// color //
$white-color: #fff;
$black-color: #000;
$bg-color: #1e1e1e;

$primary-color: #c01c27;
$secondary-color: #ffba00;

// font-family //
$primary-font: "proxima-nova", verdana, sans-serif;
$secondary-font: "proxima-nova-alt-ext-cond", verdana, sans-serif;

// font-weight //
$font-semi-bold: 500;
$font-bold: 700;
$font-extrabold: 900;