@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,500,700|Roboto:400,500,500i,700');

// color //
$white: #fff;
$black: #000;
$color1: #F4174F;
$color2: #FDBB01;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;