@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,500,600,700|Roboto:400,500,700');

// color //
$white-color: #fff;
$black-color: #000;
$bg-color: #1e1e1e;

$dark-color: #282c2b;
$orange-color: #ff9900;
$red-color: #ed2323;
$yellow-color: #ffea00;
$green-color: #2dc30a;

// font-family //
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$tertiary-font: 'Roboto', sans-serif;

// font-weight //
$font-semi-bold: 600;
$font-bold: 700;
$font-extrabold: 900;

$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);