@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,500,700');
@import url("https://fonts.googleapis.com/css?family=Glegoo:400,700");

// color //
$white: #fff;
$black: #000;
$light-gray: #DCDCDC;
$dark-gray: #999999;
$yellow: #00C4F9;
$color1: #DCDCDC;
$color2: #00C4F9;
$codgray: rgba(14,14,14, 0.7);
$background-gray: #181818;
$footer-color:#4A4A4A;
$tab-boarder-color:#979797;
$tabpane-bg-color:#111111;

$pri-font: 'Roboto Condensed', sans-serif;
$sec-font: 'Glegoo', sans-serif;

$secondary-font: 'Glegoo', sans-serif;
$primary-font: 'Roboto Condensed', sans-serif;
