// font //

$font-size-normal: 1.4rem;
$font-size-large: 3rem;
$font-size-small: 1rem;

$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;
$font-weight-extra-bold: 700;


// color //

$white-color: #fff;
$black-color: #000;
$brand-color: #ff9900;
$brand-gray-color: #666;
$accent-green-color: #29f2a8;
$bg-color: #1e1e1e;

// url //

$url-section-update-bg: url('../images/section-update-bg.jpg');
$url-section-update-map: url('../images/section-update-map.jpg');
$url-section-event-bg: url('../images/section-event-bg.jpg');
$url-section-event-tile-bg: url('../images/section-event-tile-bg.jpg');
$url-event-one: url('../images/event-one.jpg');
$url-event-two: url('../images/event-two.jpg');
$url-event-three: url('../images/event-three.jpg');
$url-section-awp-ghost-bg: url('../images/section-awp-ghost-bg.jpg');
$url-section-packages-bg: url('../images/section-packages-bg.jpg');
$url-packages-desc-bg: url('../images/package-desc-bg.jpg');
$url-section-items-bg: url('../images/section-items-bg.jpg');
$url-item-display-box: url('../images/item-display-box.jpg');
$url-section-nina-bg: url('../images/section-nina-bg.jpg');

$url-side-nav-home: url('../images/home.svg');
$url-blackshot-logo: url('../images/blackshot-logo.png');
$url-header-bg: url('../images/header-bg.jpg');
$url-list-bullet: url('../images/list-bullet.svg');

$url-awp-ghost-text: url('../images/awp-ghost-text.svg');
$url-halloween-text: url('../images/halloween-text.svg');

// font-family //
$font-family-default: "proxima-nova", verdana, sans-serif;
$font-family-accent: "proxima-nova-alt-ext-cond", verdana, sans-serif;